In [1]:
import time
import numpy as np
import pandas as pd

In [2]:
def random_array(n):
    array = []
    for i in range(0,n,1):
        array.append(np.random.randint(0,100))
    return array

In [3]:
# adapted from https://runestone.academy/runestone/books/published/pythonds/SortSearch/TheBubbleSort.html
def bubbleSort(alist):
    for passnum in range(len(alist)-1,0,-1):   # loop over array from last to first. After the first pass the largest number will be in the last position. Each successive loop will be shorter as the largest number will be at the end and the loop decrements.
        for i in range(passnum): # loop from first to last swapping number with the one after it if first number is greater.
            if alist[i]>alist[i+1]: # Compare item at postion i with item at position i+1
                alist[i], alist[i+1] = alist[i+1], alist[i] # Swap the two items if above condtion is matched

In [4]:
cols = ['n=100','n=250','n=500','n=750','n=1000','n=1250','n=2500','n=3750','n=5000','n=6250','n=7500','n=8750','n=10000']
indexes = ['bubble', 'merge', 'counting']
times_df =  pd.DataFrame(index=indexes,columns=cols)
times_df

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
merge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
counting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
array_size = [100, 250, 500, 750, 1000, 1250, 2500, 3750, 5000, 6250, 7500, 8750, 10000]


for i in range(0,len(array_size)):
    total_time = 0
    print("array size: " + str(array_size[i]))
    for j in range(10):
        my_array = random_array(array_size[i])
        start_time = time.time()
        bubbleSort(my_array)
        finish_time = time.time()
        time_elapsed = finish_time - start_time
        print('Run number ' + str(j) + ' ', time_elapsed)
        total_time += time_elapsed
    print('Total time: ', total_time)
    
    times_df.iat[0,i] = round((total_time/10),3)
    print('Avg: ', times_df.iat[0,i])
    
    
    
times_df

array size: 100
Run number 0  0.001966714859008789
Run number 1  0.001142263412475586
Run number 2  0.0011305809020996094
Run number 3  0.0011668205261230469
Run number 4  0.0014383792877197266
Run number 5  0.0013804435729980469
Run number 6  0.001354217529296875
Run number 7  0.0039789676666259766
Run number 8  0.0011584758758544922
Run number 9  0.010024785995483398
Total time:  0.024741649627685547
Avg:  0.002
array size: 250
Run number 0  0.0210568904876709
Run number 1  0.028289079666137695
Run number 2  0.023756027221679688
Run number 3  0.01937580108642578
Run number 4  0.02171015739440918
Run number 5  0.035233497619628906
Run number 6  0.027199983596801758
Run number 7  0.02000284194946289
Run number 8  0.018056154251098633
Run number 9  0.01648259162902832
Total time:  0.23116302490234375
Avg:  0.023
array size: 500
Run number 0  0.06301069259643555
Run number 1  0.06716275215148926
Run number 2  0.10828876495361328
Run number 3  0.033876895904541016
Run number 4  0.03488945960998535
Run number 5  0.06545019149780273
Run number 6  0.044739484786987305
Run number 7  0.032784223556518555
Run number 8  0.0480198860168457
Run number 9  0.03306293487548828
Total time:  0.531285285949707
Avg:  0.053
array size: 750
Run number 0  0.12313389778137207
Run number 1  0.08263015747070312
Run number 2  0.22052931785583496
Run number 3  0.16184115409851074
Run number 4  0.26901888847351074
Run number 5  0.1077125072479248
Run number 6  0.10176396369934082
Run number 7  0.10988545417785645
Run number 8  0.07652568817138672
Run number 9  0.12535834312438965
Total time:  1.37839937210083
Avg:  0.138
array size: 1000
Run number 0  0.14555621147155762
Run number 1  0.2423253059387207
Run number 2  0.13481450080871582
Run number 3  0.31391310691833496
Run number 4  0.3877530097961426
Run number 5  0.4216434955596924
Run number 6  0.40927767753601074
Run number 7  0.18413281440734863
Run number 8  0.41677045822143555
Run number 9  0.2906668186187744
Total time:  2.9468533992767334
Avg:  0.295
array size: 1250
Run number 0  0.3832266330718994
Run number 1  0.37842631340026855
Run number 2  0.3054835796356201
Run number 3  0.29496145248413086
Run number 4  0.22828149795532227
Run number 5  0.29212021827697754
Run number 6  0.22177910804748535
Run number 7  0.3023707866668701
Run number 8  0.2241053581237793
Run number 9  0.3404090404510498
Total time:  2.9711639881134033
Avg:  0.297
array size: 2500
Run number 0  0.9353458881378174
Run number 1  0.9117653369903564
Run number 2  0.9743072986602783
Run number 3  0.9795241355895996
Run number 4  1.3097436428070068
Run number 5  1.630434513092041
Run number 6  1.0521202087402344
Run number 7  0.9770591259002686
Run number 8  0.9174816608428955
Run number 9  0.9891290664672852
Total time:  10.676910877227783
Avg:  1.068
array size: 3750
Run number 0  2.0836548805236816
Run number 1  2.1611709594726562
Run number 2  2.2423489093780518
Run number 3  3.1140782833099365
Run number 4  2.115086555480957
Run number 5  3.1227803230285645
Run number 6  2.4090254306793213
Run number 7  2.948942184448242
Run number 8  2.5796725749969482
Run number 9  2.119938373565674
Total time:  24.896698474884033
Avg:  2.49
array size: 5000
Run number 0  4.135361909866333
Run number 1  3.676459789276123
Run number 2  4.504703998565674
Run number 3  3.5128331184387207
Run number 4  4.276629447937012
Run number 5  3.9938576221466064
Run number 6  4.070336580276489
Run number 7  3.989426374435425
Run number 8  3.777970790863037
Run number 9  4.3647425174713135
Total time:  40.30232214927673
Avg:  4.03
array size: 6250
Run number 0  7.794902324676514
Run number 1  6.742884159088135
Run number 2  6.870459079742432
Run number 3  5.969654321670532
Run number 4  6.350483179092407
Run number 5  6.079154968261719
Run number 6  5.821796178817749
Run number 7  5.842008113861084
Run number 8  7.142169237136841
Run number 9  11.12403655052185
Total time:  69.73754811286926
Avg:  6.974
array size: 7500
Run number 0  9.725139617919922
Run number 1  9.563201665878296
Run number 2  8.81406569480896
Run number 3  9.055673837661743
Run number 4  8.73376750946045
Run number 5  9.244147062301636
Run number 6  10.172943353652954
Run number 7  9.901136636734009
Run number 8  9.397157430648804
Run number 9  9.228504419326782
Total time:  93.83573722839355
Avg:  9.384
array size: 8750
Run number 0  14.47679352760315
Run number 1  23.624942302703857
Run number 2  27.36584711074829
Run number 3  12.363036155700684
Run number 4  11.9295814037323
Run number 5  13.042813539505005
Run number 6  13.170068740844727
Run number 7  19.87618350982666
Run number 8  12.396703720092773
Run number 9  11.327179908752441
Total time:  159.5731499195099
Avg:  15.957
array size: 10000
Run number 0  16.693358659744263
Run number 1  15.458719491958618
Run number 2  15.033970594406128
Run number 3  16.417993783950806
Run number 4  14.462301969528198
Run number 5  15.083435773849487
Run number 6  15.589532136917114
Run number 7  16.518424034118652
Run number 8  15.656270980834961
Run number 9  15.125345468521118
Total time:  156.03935289382935
Avg:  15.604

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,0.002,0.023,0.053,0.138,0.295,0.297,1.068,2.49,4.03,6.974,9.384,15.957,15.604
merge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
counting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Adapted from https://runestone.academy/runestone/books/published/pythonds/SortSearch/TheMergeSort.html
def mergeSort(alist):
    #print("Splitting ",alist)
    if len(alist)>1:
        mid = len(alist)//2
        lefthalf = alist[:mid]
        righthalf = alist[mid:]

        mergeSort(lefthalf)
        mergeSort(righthalf)

        i=0
        j=0
        k=0
        while i < len(lefthalf) and j < len(righthalf):
            if lefthalf[i] <= righthalf[j]:
                alist[k]=lefthalf[i]
                i=i+1
            else:
                alist[k]=righthalf[j]
                j=j+1
            k=k+1

        while i < len(lefthalf):
            alist[k]=lefthalf[i]
            i=i+1
            k=k+1

        while j < len(righthalf):
            alist[k]=righthalf[j]
            j=j+1
            k=k+1
    #print("Merging ",alist)

In [7]:
array_size = [100, 250, 500, 750, 1000, 1250, 2500, 3750, 5000, 6250, 7500, 8750, 10000]

#array_size = [6250,7500,8750,10000]

for i in range(0,len(array_size)):
    total_time = 0
    print("array size: " + str(array_size[i]))
    for j in range(10):
        my_array = random_array(array_size[i])
        start_time = time.time()
        mergeSort(my_array)
        finish_time = time.time()
        time_elapsed = finish_time - start_time
        print('Run number ' + str(j) + ' ', time_elapsed)
        total_time += time_elapsed
        #print(my_array)
    print('Total time: ', total_time)
    
    times_df.iat[1,i] = round((total_time/10),3)
    print('Avg: ', times_df.iat[1,i])
    
    
    
times_df

array size: 100
Run number 0  0.000335693359375
Run number 1  0.0006132125854492188
Run number 2  0.0003445148468017578
Run number 3  0.0003459453582763672
Run number 4  0.00032806396484375
Run number 5  0.00032782554626464844
Run number 6  0.0003294944763183594
Run number 7  0.00048160552978515625
Run number 8  0.0003287792205810547
Run number 9  0.0003273487091064453
Total time:  0.003762483596801758
Avg:  0.0
array size: 250
Run number 0  0.0012011528015136719
Run number 1  0.0010228157043457031
Run number 2  0.004607677459716797
Run number 3  0.0010030269622802734
Run number 4  0.0010173320770263672
Run number 5  0.0012345314025878906
Run number 6  0.0011904239654541016
Run number 7  0.0009891986846923828
Run number 8  0.0011856555938720703
Run number 9  0.003624439239501953
Total time:  0.01707625389099121
Avg:  0.002
array size: 500
Run number 0  0.006702899932861328
Run number 1  0.00690007209777832
Run number 2  0.006338834762573242
Run number 3  0.013904094696044922
Run number 4  0.011888742446899414
Run number 5  0.0067026615142822266
Run number 6  0.006697177886962891
Run number 7  0.010259866714477539
Run number 8  0.012509584426879883
Run number 9  0.016189098358154297
Total time:  0.09809303283691406
Avg:  0.01
array size: 750
Run number 0  0.010761260986328125
Run number 1  0.010985612869262695
Run number 2  0.007207393646240234
Run number 3  0.008664608001708984
Run number 4  0.004743099212646484
Run number 5  0.00800013542175293
Run number 6  0.003858327865600586
Run number 7  0.00768733024597168
Run number 8  0.009184598922729492
Run number 9  0.0043370723724365234
Total time:  0.07542943954467773
Avg:  0.008
array size: 1000
Run number 0  0.005456447601318359
Run number 1  0.005692481994628906
Run number 2  0.005230426788330078
Run number 3  0.005239725112915039
Run number 4  0.024998188018798828
Run number 5  0.01465153694152832
Run number 6  0.017774581909179688
Run number 7  0.0049669742584228516
Run number 8  0.011871576309204102
Run number 9  0.005204200744628906
Total time:  0.10108613967895508
Avg:  0.01
array size: 1250
Run number 0  0.007008075714111328
Run number 1  0.009732723236083984
Run number 2  0.010075092315673828
Run number 3  0.009267568588256836
Run number 4  0.008904457092285156
Run number 5  0.008067846298217773
Run number 6  0.006875276565551758
Run number 7  0.006777048110961914
Run number 8  0.0067675113677978516
Run number 9  0.006942033767700195
Total time:  0.08041763305664062
Avg:  0.008
array size: 2500
Run number 0  0.03064250946044922
Run number 1  0.02566671371459961
Run number 2  0.01494145393371582
Run number 3  0.014842033386230469
Run number 4  0.015328645706176758
Run number 5  0.014430999755859375
Run number 6  0.014936208724975586
Run number 7  0.03299689292907715
Run number 8  0.03129863739013672
Run number 9  0.017740249633789062
Total time:  0.21282434463500977
Avg:  0.021
array size: 3750
Run number 0  0.023605823516845703
Run number 1  0.023653268814086914
Run number 2  0.02358222007751465
Run number 3  0.0362095832824707
Run number 4  0.055251121520996094
Run number 5  0.043853759765625
Run number 6  0.02442145347595215
Run number 7  0.04975271224975586
Run number 8  0.038834333419799805
Run number 9  0.023583650588989258
Total time:  0.34274792671203613
Avg:  0.034
array size: 5000
Run number 0  0.031264543533325195
Run number 1  0.031638145446777344
Run number 2  0.06427121162414551
Run number 3  0.03221893310546875
Run number 4  0.03223681449890137
Run number 5  0.031984806060791016
Run number 6  0.031935930252075195
Run number 7  0.07181692123413086
Run number 8  0.03594803810119629
Run number 9  0.033478498458862305
Total time:  0.39679384231567383
Avg:  0.04
array size: 6250
Run number 0  0.04011964797973633
Run number 1  0.08283638954162598
Run number 2  0.04230165481567383
Run number 3  0.044150590896606445
Run number 4  0.04090070724487305
Run number 5  0.10956716537475586
Run number 6  0.04129815101623535
Run number 7  0.04884934425354004
Run number 8  0.04171943664550781
Run number 9  0.07986903190612793
Total time:  0.5716121196746826
Avg:  0.057
array size: 7500
Run number 0  0.0658416748046875
Run number 1  0.16181492805480957
Run number 2  0.1738595962524414
Run number 3  0.1393575668334961
Run number 4  0.09966397285461426
Run number 5  0.10241985321044922
Run number 6  0.09186768531799316
Run number 7  0.162261962890625
Run number 8  0.16963505744934082
Run number 9  0.17155122756958008
Total time:  1.338273525238037
Avg:  0.134
array size: 8750
Run number 0  0.21357011795043945
Run number 1  0.15920734405517578
Run number 2  0.1010589599609375
Run number 3  0.14038348197937012
Run number 4  0.1508922576904297
Run number 5  0.18338918685913086
Run number 6  0.20651030540466309
Run number 7  0.20139455795288086
Run number 8  0.18998312950134277
Run number 9  0.1732196807861328
Total time:  1.719609022140503
Avg:  0.172
array size: 10000
Run number 0  0.23624491691589355
Run number 1  0.22534656524658203
Run number 2  0.23040533065795898
Run number 3  0.2241814136505127
Run number 4  0.24595212936401367
Run number 5  0.2342817783355713
Run number 6  0.09193897247314453
Run number 7  0.14258813858032227
Run number 8  0.07011556625366211
Run number 9  0.14320683479309082
Total time:  1.844261646270752
Avg:  0.184

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,0.002,0.023,0.053,0.138,0.295,0.297,1.068,2.49,4.03,6.974,9.384,15.957,15.604
merge,0,0.002,0.01,0.008,0.01,0.008,0.021,0.034,0.04,0.057,0.134,0.172,0.184
counting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# Adapted from https://www.w3resource.com/python-exercises/data-structures-and-algorithms/python-search-and-sorting-exercise-10.php
def counting_sort(array1, max_val):
    m = max_val + 1 
    count = [0] * m   # make an array with m elements containing 0             
    
    for a in array1: # itareate over the array to be sorted
    # count occurences of a and increment the count array element for that a
        count[a] += 1             
    i = 0
    for a in range(m):    # iterate over values of the array to be counted        
        for c in range(count[a]):  # fill the array to be counted with count[a] times value a 
            array1[i] = a
            i += 1
    return array1

In [45]:
array_size = [100, 250, 500, 750, 1000, 1250, 2500, 3750, 5000, 6250, 7500, 8750, 10000]

#array_size = [100,250,500,750,1000]

for i in range(0,len(array_size)):
    total_time = 0
    print("array size: " + str(array_size[i]))
    for j in range(10):
        my_array = random_array(array_size[i])
        start_time = time.time()
        res = counting_sort(my_array,99)
        finish_time = time.time()
        #print(res)
        time_elapsed = finish_time - start_time
        print('Run number ' + str(j) + ' ', time_elapsed)
        total_time += time_elapsed
        #print(my_array)
    print('Total time: ', total_time)
    
    times_df.iat[2,i] = round((total_time/10),3)
    print('Avg: ', times_df.iat[1,i])
    
    
    
times_df

array size: 100
Run number 0  6.508827209472656e-05
Run number 1  6.031990051269531e-05
Run number 2  4.76837158203125e-05
Run number 3  4.2438507080078125e-05
Run number 4  4.601478576660156e-05
Run number 5  4.744529724121094e-05
Run number 6  0.000232696533203125
Run number 7  6.222724914550781e-05
Run number 8  7.033348083496094e-05
Run number 9  4.649162292480469e-05
Total time:  0.0007207393646240234
Avg:  0.0
array size: 250
Run number 0  7.677078247070312e-05
Run number 1  7.677078247070312e-05
Run number 2  7.224082946777344e-05
Run number 3  7.009506225585938e-05
Run number 4  7.033348083496094e-05
Run number 5  6.818771362304688e-05
Run number 6  7.2479248046875e-05
Run number 7  6.842613220214844e-05
Run number 8  7.128715515136719e-05
Run number 9  7.176399230957031e-05
Total time:  0.0007183551788330078
Avg:  0.002
array size: 500
Run number 0  0.00011086463928222656
Run number 1  0.0001087188720703125
Run number 2  0.00011086463928222656
Run number 3  0.00011754035949707031
Run number 4  0.00011372566223144531
Run number 5  0.0004947185516357422
Run number 6  0.00010991096496582031
Run number 7  0.00017142295837402344
Run number 8  0.00011134147644042969
Run number 9  0.00011873245239257812
Total time:  0.001567840576171875
Avg:  0.01
array size: 750
Run number 0  0.00014901161193847656
Run number 1  0.0001537799835205078
Run number 2  0.00014734268188476562
Run number 3  0.0001971721649169922
Run number 4  0.00014925003051757812
Run number 5  0.0001678466796875
Run number 6  0.0002243518829345703
Run number 7  0.00016427040100097656
Run number 8  0.002300262451171875
Run number 9  0.00019407272338867188
Total time:  0.003847360610961914
Avg:  0.008
array size: 1000
Run number 0  0.00019121170043945312
Run number 1  0.00019788742065429688
Run number 2  0.00018787384033203125
Run number 3  0.000263214111328125
Run number 4  0.0001990795135498047
Run number 5  0.00019931793212890625
Run number 6  0.0002071857452392578
Run number 7  0.0001933574676513672
Run number 8  0.00033736228942871094
Run number 9  0.0003485679626464844
Total time:  0.0023250579833984375
Avg:  0.01
array size: 1250
Run number 0  0.00054168701171875
Run number 1  0.0004134178161621094
Run number 2  0.00022721290588378906
Run number 3  0.0003337860107421875
Run number 4  0.00032830238342285156
Run number 5  0.0002353191375732422
Run number 6  0.0002295970916748047
Run number 7  0.00022792816162109375
Run number 8  0.00022792816162109375
Run number 9  0.0027811527252197266
Total time:  0.0055463314056396484
Avg:  0.008
array size: 2500
Run number 0  0.008480310440063477
Run number 1  0.0004954338073730469
Run number 2  0.00045418739318847656
Run number 3  0.007306098937988281
Run number 4  0.000415802001953125
Run number 5  0.00046825408935546875
Run number 6  0.0019228458404541016
Run number 7  0.0006058216094970703
Run number 8  0.0004787445068359375
Run number 9  0.0005838871002197266
Total time:  0.02121138572692871
Avg:  0.021
array size: 3750
Run number 0  0.0007560253143310547
Run number 1  0.013994455337524414
Run number 2  0.004876852035522461
Run number 3  0.0006611347198486328
Run number 4  0.004842281341552734
Run number 5  0.0007777214050292969
Run number 6  0.006146430969238281
Run number 7  0.0006747245788574219
Run number 8  0.0007507801055908203
Run number 9  0.0005898475646972656
Total time:  0.03407025337219238
Avg:  0.034
array size: 5000
Run number 0  0.0008871555328369141
Run number 1  0.0008325576782226562
Run number 2  0.0008261203765869141
Run number 3  0.008837223052978516
Run number 4  0.0011594295501708984
Run number 5  0.004538297653198242
Run number 6  0.0009961128234863281
Run number 7  0.0009086132049560547
Run number 8  0.000896453857421875
Run number 9  0.000982522964477539
Total time:  0.020864486694335938
Avg:  0.04
array size: 6250
Run number 0  0.01304316520690918
Run number 1  0.001094818115234375
Run number 2  0.0011358261108398438
Run number 3  0.00914144515991211
Run number 4  0.0012447834014892578
Run number 5  0.009366512298583984
Run number 6  0.0010535717010498047
Run number 7  0.010322332382202148
Run number 8  0.0010442733764648438
Run number 9  0.0010223388671875
Total time:  0.04846906661987305
Avg:  0.057
array size: 7500
Run number 0  0.011192083358764648
Run number 1  0.012809991836547852
Run number 2  0.0011997222900390625
Run number 3  0.0014405250549316406
Run number 4  0.0012497901916503906
Run number 5  0.0012471675872802734
Run number 6  0.0012750625610351562
Run number 7  0.0014576911926269531
Run number 8  0.0012469291687011719
Run number 9  0.0014576911926269531
Total time:  0.0345766544342041
Avg:  0.134
array size: 8750
Run number 0  0.0014352798461914062
Run number 1  0.001995086669921875
Run number 2  0.0014519691467285156
Run number 3  0.0014615058898925781
Run number 4  0.0017521381378173828
Run number 5  0.0017766952514648438
Run number 6  0.0016014575958251953
Run number 7  0.0015575885772705078
Run number 8  0.0016477108001708984
Run number 9  0.0014011859893798828
Total time:  0.016080617904663086
Avg:  0.172
array size: 10000
Run number 0  0.0076863765716552734
Run number 1  0.0015840530395507812
Run number 2  0.0016188621520996094
Run number 3  0.0025243759155273438
Run number 4  0.0019159317016601562
Run number 5  0.0016622543334960938
Run number 6  0.001585245132446289
Run number 7  0.0015978813171386719
Run number 8  0.0019376277923583984
Run number 9  0.0016307830810546875
Total time:  0.023743391036987305
Avg:  0.184

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,0.002,0.023,0.053,0.138,0.295,0.297,1.068,2.49,4.03,6.974,9.384,15.957,15.604
merge,0,0.002,0.01,0.008,0.01,0.008,0.021,0.034,0.04,0.057,0.134,0.172,0.184
counting,0,0,0,0,0,0.001,0.002,0.003,0.002,0.005,0.003,0.002,0.002

In [48]:
total_time = 0
for j in range(10):
    my_array = random_array(500000)
    start_time = time.time()
    counting_sort(my_array,99)
    finish_time = time.time()
    time_elapsed = finish_time - start_time
    print('Run number ' + str(j) + ' ', time_elapsed)
    total_time += time_elapsed
    print('Total time: ', total_time)
    
print('Avg time: ' , round((total_time/10),3))

Run number 0  0.11144804954528809
Total time:  0.11144804954528809
Run number 1  0.11150026321411133
Total time:  0.22294831275939941
Run number 2  0.10550451278686523
Total time:  0.32845282554626465
Run number 3  0.10913348197937012
Total time:  0.43758630752563477
Run number 4  0.10696983337402344
Total time:  0.5445561408996582
Run number 5  0.10599207878112793
Total time:  0.6505482196807861
Run number 6  0.11663126945495605
Total time:  0.7671794891357422
Run number 7  0.11031985282897949
Total time:  0.8774993419647217
Run number 8  0.11128568649291992
Total time:  0.9887850284576416
Run number 9  0.10902595520019531
Total time:  1.097810983657837
Avg time:  0.11

In [50]:
# Adapted from https://runestone.academy/runestone/books/published/pythonds/SortSearch/TheInsertionSort.html
def insertionSort(alist):
   for index in range(1,len(alist)):

     currentvalue = alist[index]
     position = index

     while position>0 and alist[position-1]>currentvalue:
         alist[position]=alist[position-1]
         position = position-1

     alist[position]=currentvalue

alist = random_array(1000)
insertionSort(alist)
print(alist)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 33, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 36, 36, 36, 36, 36, 36, 36, 36, 37, 37, 37, 37, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 40, 40, 40, 40, 40, 40, 40, 40, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 42, 42, 42, 42, 42, 42, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 45, 45, 45, 45, 45, 45, 45, 45, 45, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 47, 47, 47, 47, 47, 47, 47, 47, 47, 47, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 48, 49, 49, 49, 49, 49, 49, 49, 49, 49, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 51, 51, 51, 51, 51, 51, 51, 51, 51, 51, 52, 52, 52, 52, 52, 52, 52, 52, 53, 53, 53, 53, 53, 53, 53, 53, 53, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 55, 55, 55, 55, 55, 55, 55, 55, 55, 56, 56, 56, 56, 56, 56, 56, 56, 56, 57, 57, 57, 58, 58, 58, 58, 58, 58, 58, 58, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 59, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 60, 61, 61, 61, 61, 61, 61, 61, 61, 62, 62, 62, 62, 62, 62, 62, 62, 62, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 63, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 65, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 66, 67, 67, 67, 67, 67, 67, 67, 68, 68, 68, 68, 68, 68, 68, 68, 68, 68, 68, 68, 68, 68, 68, 68, 69, 69, 69, 69, 69, 69, 69, 70, 70, 70, 70, 70, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 71, 72, 72, 72, 72, 72, 72, 72, 72, 73, 73, 73, 73, 73, 73, 73, 73, 73, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 75, 75, 75, 75, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 77, 77, 77, 77, 77, 77, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 78, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 79, 80, 80, 80, 80, 81, 81, 81, 81, 81, 81, 81, 81, 81, 81, 81, 82, 82, 82, 82, 82, 82, 82, 82, 82, 82, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 84, 84, 84, 84, 84, 84, 85, 85, 85, 85, 85, 85, 85, 85, 85, 86, 86, 86, 86, 86, 86, 87, 87, 87, 87, 87, 87, 87, 87, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 88, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 89, 90, 90, 90, 90, 90, 90, 90, 90, 90, 91, 91, 91, 91, 91, 91, 91, 91, 91, 92, 92, 92, 92, 92, 92, 92, 92, 92, 92, 92, 92, 92, 92, 92, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 93, 94, 94, 94, 94, 94, 94, 94, 94, 95, 95, 95, 95, 95, 95, 95, 95, 95, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 97, 97, 97, 97, 97, 97, 98, 98, 98, 98, 98, 98, 98, 98, 98, 98, 98, 98, 98, 99, 99, 99, 99, 99, 99, 99, 99]

In [53]:
# Adapted from https://runestone.academy/runestone/books/published/pythonds/SortSearch/TheShellSort.html
def shellSort(alist):
    sublistcount = len(alist)//2
    while sublistcount > 0:

      for startposition in range(sublistcount):
        gapInsertionSort(alist,startposition,sublistcount)

      print("After increments of size",sublistcount,
                                   "The list is",alist)

      sublistcount = sublistcount // 2

def gapInsertionSort(alist,start,gap):
    for i in range(start+gap,len(alist),gap):

        currentvalue = alist[i]
        position = i

        while position>=gap and alist[position-gap]>currentvalue:
            alist[position]=alist[position-gap]
            position = position-gap

        alist[position]=currentvalue

alist = random_array(100)
shellSort(alist)
print(alist)

After increments of size 50 The list is [74, 47, 43, 79, 56, 42, 44, 24, 24, 49, 61, 40, 47, 5, 5, 15, 47, 30, 3, 18, 16, 38, 31, 17, 67, 44, 8, 31, 9, 19, 14, 40, 34, 40, 19, 48, 41, 67, 16, 43, 10, 52, 17, 56, 10, 21, 21, 38, 10, 52, 98, 77, 72, 84, 61, 78, 65, 32, 93, 68, 68, 88, 66, 5, 56, 50, 62, 90, 41, 86, 94, 80, 44, 84, 89, 88, 41, 87, 35, 64, 15, 52, 85, 96, 27, 80, 56, 96, 16, 89, 98, 54, 85, 70, 12, 24, 37, 68, 96, 59]
After increments of size 25 The list is [44, 8, 31, 9, 19, 14, 40, 24, 24, 19, 48, 40, 47, 5, 5, 10, 47, 17, 3, 10, 16, 21, 31, 10, 52, 74, 41, 43, 35, 56, 15, 44, 32, 40, 27, 61, 41, 66, 5, 43, 15, 52, 30, 41, 12, 21, 37, 38, 17, 59, 88, 47, 72, 79, 61, 42, 52, 34, 93, 49, 68, 56, 67, 16, 56, 50, 54, 85, 56, 18, 24, 38, 44, 84, 67, 98, 77, 87, 84, 64, 78, 65, 85, 96, 68, 80, 88, 96, 16, 89, 98, 62, 90, 70, 86, 94, 80, 68, 96, 89]
After increments of size 12 The list is [17, 5, 5, 9, 15, 14, 3, 10, 12, 18, 24, 10, 41, 8, 5, 10, 16, 17, 15, 24, 16, 19, 27, 38, 44, 56, 31, 16, 19, 50, 30, 41, 24, 21, 31, 38, 44, 59, 41, 43, 35, 52, 40, 42, 32, 21, 37, 40, 47, 66, 67, 43, 47, 56, 54, 44, 52, 34, 48, 49, 52, 68, 67, 47, 56, 79, 61, 62, 56, 40, 85, 61, 68, 74, 88, 89, 72, 87, 84, 64, 78, 65, 86, 94, 68, 80, 88, 96, 77, 89, 98, 85, 90, 70, 93, 96, 80, 84, 96, 98]
After increments of size 6 The list is [3, 5, 5, 9, 15, 10, 15, 8, 5, 10, 16, 14, 17, 10, 12, 16, 19, 17, 30, 24, 16, 18, 24, 38, 40, 41, 24, 19, 27, 38, 41, 42, 31, 21, 31, 40, 44, 44, 32, 21, 35, 49, 44, 56, 41, 34, 37, 50, 47, 59, 52, 40, 47, 52, 52, 62, 56, 43, 48, 56, 54, 64, 67, 43, 56, 61, 61, 66, 67, 47, 72, 79, 68, 68, 78, 65, 77, 87, 68, 74, 88, 70, 85, 89, 80, 80, 88, 89, 86, 94, 84, 84, 90, 96, 93, 96, 98, 85, 96, 98]
After increments of size 3 The list is [3, 5, 5, 9, 8, 5, 10, 10, 10, 15, 15, 12, 16, 16, 14, 17, 19, 16, 18, 24, 17, 19, 24, 24, 21, 27, 31, 21, 31, 32, 30, 35, 38, 34, 37, 38, 40, 41, 40, 40, 42, 41, 41, 44, 49, 43, 47, 50, 43, 48, 52, 44, 56, 52, 44, 56, 56, 47, 59, 56, 47, 62, 61, 52, 64, 67, 54, 66, 67, 61, 68, 78, 65, 72, 79, 68, 74, 87, 68, 77, 88, 70, 80, 88, 80, 84, 89, 84, 85, 90, 89, 85, 94, 96, 86, 96, 98, 93, 96, 98]
After increments of size 1 The list is [3, 5, 5, 5, 8, 9, 10, 10, 10, 12, 14, 15, 15, 16, 16, 16, 17, 17, 18, 19, 19, 21, 21, 24, 24, 24, 27, 30, 31, 31, 32, 34, 35, 37, 38, 38, 40, 40, 40, 41, 41, 41, 42, 43, 43, 44, 44, 44, 47, 47, 47, 48, 49, 50, 52, 52, 52, 54, 56, 56, 56, 56, 59, 61, 61, 62, 64, 65, 66, 67, 67, 68, 68, 68, 70, 72, 74, 77, 78, 79, 80, 80, 84, 84, 85, 85, 86, 87, 88, 88, 89, 89, 90, 93, 94, 96, 96, 96, 98, 98]
[3, 5, 5, 5, 8, 9, 10, 10, 10, 12, 14, 15, 15, 16, 16, 16, 17, 17, 18, 19, 19, 21, 21, 24, 24, 24, 27, 30, 31, 31, 32, 34, 35, 37, 38, 38, 40, 40, 40, 41, 41, 41, 42, 43, 43, 44, 44, 44, 47, 47, 47, 48, 49, 50, 52, 52, 52, 54, 56, 56, 56, 56, 59, 61, 61, 62, 64, 65, 66, 67, 67, 68, 68, 68, 70, 72, 74, 77, 78, 79, 80, 80, 84, 84, 85, 85, 86, 87, 88, 88, 89, 89, 90, 93, 94, 96, 96, 96, 98, 98]