In [1]:
import time
import numpy as np
import pandas as pd

In [2]:
def random_array(n):
    array = []
    for i in range(0,n,1):
        array.append(np.random.randint(0,100))
    return array

## 1. BubbleSort

In [26]:
# adapted from https://runestone.academy/runestone/books/published/pythonds/SortSearch/TheBubbleSort.html
def bubbleSort(alist):
    for passnum in range(len(alist)-1,0,-1):   # loop over array from last to first. After the first pass the largest number will be in the last position. Each successive loop will be shorter as the largest number will be at the end and the loop decrements.
        for i in range(passnum): # loop from first to last swapping number with the one after it if first number is greater.
            if alist[i]>alist[i+1]: # Compare item at postion i with item at position i+1
                alist[i], alist[i+1] = alist[i+1], alist[i] # Swap the two items if above condtion is matched

In [27]:
cols = ['n=100','n=250','n=500','n=750','n=1000','n=1250','n=2500','n=3750','n=5000','n=6250','n=7500','n=8750','n=10000']
indexes = ['bubble', 'merge', 'counting', 'insertion','selection']
times_df =  pd.DataFrame(index=indexes,columns=cols)
times_df

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
merge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
counting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
insertion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
selection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
array_size = [100, 250, 500, 750, 1000, 1250, 2500, 3750, 5000, 6250, 7500, 8750, 10000]


for i in range(0,len(array_size)):
    total_time = 0
    print("array size: " + str(array_size[i]))
    for j in range(10):
        my_array = random_array(array_size[i])
        start_time = time.time()
        bubbleSort(my_array)
        finish_time = time.time()
        time_elapsed = finish_time - start_time
        print('Run number ' + str(j) + ' ', time_elapsed)
        total_time += time_elapsed
    print('Total time: ', total_time)
    
    times_df.iat[0,i] = round((total_time/10),3)
    print('Avg: ', times_df.iat[0,i])
    
    
    
times_df

array size: 100
Run number 0  0.0031888484954833984
Run number 1  0.0012488365173339844
Run number 2  0.0048825740814208984
Run number 3  0.0023336410522460938
Run number 4  0.00115966796875
Run number 5  0.005130290985107422
Run number 6  0.0022749900817871094
Run number 7  0.002379894256591797
Run number 8  0.001455545425415039
Run number 9  0.0075206756591796875
Total time:  0.03157496452331543
Avg:  0.003
array size: 250
Run number 0  0.02361464500427246
Run number 1  0.02419590950012207
Run number 2  0.021181583404541016
Run number 3  0.017064332962036133
Run number 4  0.016362667083740234
Run number 5  0.017191648483276367
Run number 6  0.018044471740722656
Run number 7  0.01703357696533203
Run number 8  0.015093803405761719
Run number 9  0.015816688537597656
Total time:  0.18559932708740234
Avg:  0.019
array size: 500
Run number 0  0.0661020278930664
Run number 1  0.07362031936645508
Run number 2  0.07508182525634766
Run number 3  0.07924509048461914
Run number 4  0.06952691078186035
Run number 5  0.06570601463317871
Run number 6  0.061643362045288086
Run number 7  0.04525184631347656
Run number 8  0.06940841674804688
Run number 9  0.05092120170593262
Total time:  0.6565070152282715
Avg:  0.066
array size: 750
Run number 0  0.07877898216247559
Run number 1  0.11981511116027832
Run number 2  0.11574196815490723
Run number 3  0.07793211936950684
Run number 4  0.14340567588806152
Run number 5  0.09594368934631348
Run number 6  0.12570643424987793
Run number 7  0.17019867897033691
Run number 8  0.18056321144104004
Run number 9  0.16468286514282227
Total time:  1.2727687358856201
Avg:  0.127
array size: 1000
Run number 0  0.327376127243042
Run number 1  0.21993112564086914
Run number 2  0.22649669647216797
Run number 3  0.25161004066467285
Run number 4  0.1434931755065918
Run number 5  0.16108465194702148
Run number 6  0.13789153099060059
Run number 7  0.15750527381896973
Run number 8  0.13822650909423828
Run number 9  0.16201186180114746
Total time:  1.9256269931793213
Avg:  0.193
array size: 1250
Run number 0  0.2688758373260498
Run number 1  0.23865008354187012
Run number 2  0.23708868026733398
Run number 3  0.23768281936645508
Run number 4  0.23339319229125977
Run number 5  0.23968100547790527
Run number 6  0.2545902729034424
Run number 7  0.23811030387878418
Run number 8  0.23897147178649902
Run number 9  0.2752711772918701
Total time:  2.4623148441314697
Avg:  0.246
array size: 2500
Run number 0  1.612766981124878
Run number 1  1.386183500289917
Run number 2  1.2336585521697998
Run number 3  1.1524524688720703
Run number 4  1.7681186199188232
Run number 5  1.8786656856536865
Run number 6  1.4002950191497803
Run number 7  1.2732563018798828
Run number 8  0.9952821731567383
Run number 9  0.9878852367401123
Total time:  13.688564538955688
Avg:  1.369
array size: 3750
Run number 0  2.944751024246216
Run number 1  2.6338963508605957
Run number 2  2.5932044982910156
Run number 3  2.4491429328918457
Run number 4  2.1408677101135254
Run number 5  2.1282155513763428
Run number 6  2.089327335357666
Run number 7  2.060751438140869
Run number 8  2.029855251312256
Run number 9  2.2546017169952393
Total time:  23.32461380958557
Avg:  2.332
array size: 5000
Run number 0  3.647068500518799
Run number 1  4.674822568893433
Run number 2  4.004342317581177
Run number 3  4.149337530136108
Run number 4  4.093213796615601
Run number 5  3.87007474899292
Run number 6  4.189378261566162
Run number 7  3.8798675537109375
Run number 8  3.620652437210083
Run number 9  8.070350646972656
Total time:  44.199108362197876
Avg:  4.42
array size: 6250
Run number 0  8.020707368850708
Run number 1  7.11177396774292
Run number 2  5.767077922821045
Run number 3  6.059184789657593
Run number 4  6.686601400375366
Run number 5  6.0273096561431885
Run number 6  8.084842681884766
Run number 7  7.778346300125122
Run number 8  6.535100221633911
Run number 9  6.385591983795166
Total time:  68.45653629302979
Avg:  6.846
array size: 7500
Run number 0  9.475895881652832
Run number 1  9.209287166595459
Run number 2  8.939603328704834
Run number 3  8.755396127700806
Run number 4  8.758763551712036
Run number 5  8.939795970916748
Run number 6  8.48934817314148
Run number 7  8.565499067306519
Run number 8  8.765367984771729
Run number 9  8.860527276992798
Total time:  88.75948452949524
Avg:  8.876
array size: 8750
Run number 0  12.780694484710693
Run number 1  11.449262380599976
Run number 2  11.8258798122406
Run number 3  11.60511827468872
Run number 4  12.160080909729004
Run number 5  11.570291519165039
Run number 6  11.508503913879395
Run number 7  12.499574899673462
Run number 8  11.393983840942383
Run number 9  11.684742450714111
Total time:  118.47813248634338
Avg:  11.848
array size: 10000
Run number 0  15.364030599594116
Run number 1  17.320727348327637
Run number 2  15.042183876037598
Run number 3  15.419103622436523
Run number 4  14.586010694503784
Run number 5  14.888386249542236
Run number 6  14.878715515136719
Run number 7  15.05957555770874
Run number 8  14.649236917495728
Run number 9  14.82910943031311
Total time:  152.0370798110962
Avg:  15.204

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,0.003,0.019,0.066,0.127,0.193,0.246,1.369,2.332,4.42,6.846,8.876,11.848,15.204
merge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
counting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
insertion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
selection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2. MergeSort

In [29]:
# Adapted from https://runestone.academy/runestone/books/published/pythonds/SortSearch/TheMergeSort.html
def mergeSort(alist):
    #print("Splitting ",alist)
    if len(alist)>1:
        mid = len(alist)//2
        lefthalf = alist[:mid]
        righthalf = alist[mid:]

        mergeSort(lefthalf)
        mergeSort(righthalf)

        i=0
        j=0
        k=0
        while i < len(lefthalf) and j < len(righthalf):
            if lefthalf[i] <= righthalf[j]:
                alist[k]=lefthalf[i]
                i=i+1
            else:
                alist[k]=righthalf[j]
                j=j+1
            k=k+1

        while i < len(lefthalf):
            alist[k]=lefthalf[i]
            i=i+1
            k=k+1

        while j < len(righthalf):
            alist[k]=righthalf[j]
            j=j+1
            k=k+1
    #print("Merging ",alist)

In [30]:
array_size = [100, 250, 500, 750, 1000, 1250, 2500, 3750, 5000, 6250, 7500, 8750, 10000]

#array_size = [6250,7500,8750,10000]

for i in range(0,len(array_size)):
    total_time = 0
    print("array size: " + str(array_size[i]))
    for j in range(10):
        my_array = random_array(array_size[i])
        start_time = time.time()
        mergeSort(my_array)
        finish_time = time.time()
        time_elapsed = finish_time - start_time
        print('Run number ' + str(j) + ' ', time_elapsed)
        total_time += time_elapsed
        #print(my_array)
    print('Total time: ', total_time)
    
    times_df.iat[1,i] = round((total_time/10),3)
    print('Avg: ', times_df.iat[1,i])
    
    
    
times_df

array size: 100
Run number 0  0.0010764598846435547
Run number 1  0.004216909408569336
Run number 2  0.0003337860107421875
Run number 3  0.0003657341003417969
Run number 4  0.00034308433532714844
Run number 5  0.0003666877746582031
Run number 6  0.00032806396484375
Run number 7  0.0003337860107421875
Run number 8  0.0003299713134765625
Run number 9  0.0004336833953857422
Total time:  0.008128166198730469
Avg:  0.001
array size: 250
Run number 0  0.0011181831359863281
Run number 1  0.0009965896606445312
Run number 2  0.0012614727020263672
Run number 3  0.001142263412475586
Run number 4  0.001001596450805664
Run number 5  0.0009989738464355469
Run number 6  0.0009961128234863281
Run number 7  0.0010180473327636719
Run number 8  0.0010082721710205078
Run number 9  0.0012538433074951172
Total time:  0.010795354843139648
Avg:  0.001
array size: 500
Run number 0  0.005152463912963867
Run number 1  0.002666950225830078
Run number 2  0.005922079086303711
Run number 3  0.0062541961669921875
Run number 4  0.002354860305786133
Run number 5  0.00626063346862793
Run number 6  0.007790088653564453
Run number 7  0.008160114288330078
Run number 8  0.007839202880859375
Run number 9  0.00686192512512207
Total time:  0.05926251411437988
Avg:  0.006
array size: 750
Run number 0  0.010108709335327148
Run number 1  0.011149883270263672
Run number 2  0.009260177612304688
Run number 3  0.01011347770690918
Run number 4  0.007714271545410156
Run number 5  0.007618904113769531
Run number 6  0.003645181655883789
Run number 7  0.011690855026245117
Run number 8  0.005738973617553711
Run number 9  0.011945724487304688
Total time:  0.08898615837097168
Avg:  0.009
array size: 1000
Run number 0  0.017206907272338867
Run number 1  0.012726545333862305
Run number 2  0.005490541458129883
Run number 3  0.006064414978027344
Run number 4  0.005611896514892578
Run number 5  0.005208730697631836
Run number 6  0.00557255744934082
Run number 7  0.011548757553100586
Run number 8  0.01111602783203125
Run number 9  0.005678892135620117
Total time:  0.08622527122497559
Avg:  0.009
array size: 1250
Run number 0  0.007266521453857422
Run number 1  0.006936788558959961
Run number 2  0.007394552230834961
Run number 3  0.006638288497924805
Run number 4  0.010860204696655273
Run number 5  0.009597301483154297
Run number 6  0.007219076156616211
Run number 7  0.012926816940307617
Run number 8  0.010988235473632812
Run number 9  0.007143497467041016
Total time:  0.08697128295898438
Avg:  0.009
array size: 2500
Run number 0  0.015151023864746094
Run number 1  0.02343606948852539
Run number 2  0.01970362663269043
Run number 3  0.015137910842895508
Run number 4  0.015512466430664062
Run number 5  0.01520538330078125
Run number 6  0.03537702560424805
Run number 7  0.015638113021850586
Run number 8  0.014533758163452148
Run number 9  0.023774385452270508
Total time:  0.19346976280212402
Avg:  0.019
array size: 3750
Run number 0  0.0238497257232666
Run number 1  0.024676084518432617
Run number 2  0.02379465103149414
Run number 3  0.04253220558166504
Run number 4  0.024123191833496094
Run number 5  0.025277137756347656
Run number 6  0.025104045867919922
Run number 7  0.023922443389892578
Run number 8  0.02347278594970703
Run number 9  0.03975200653076172
Total time:  0.2765042781829834
Avg:  0.028
array size: 5000
Run number 0  0.04612469673156738
Run number 1  0.03191828727722168
Run number 2  0.032523393630981445
Run number 3  0.0396733283996582
Run number 4  0.03261113166809082
Run number 5  0.03185725212097168
Run number 6  0.03240489959716797
Run number 7  0.03445553779602051
Run number 8  0.042067527770996094
Run number 9  0.03720211982727051
Total time:  0.3608381748199463
Avg:  0.036
array size: 6250
Run number 0  0.04089069366455078
Run number 1  0.04133105278015137
Run number 2  0.056978702545166016
Run number 3  0.043383121490478516
Run number 4  0.044557809829711914
Run number 5  0.05506300926208496
Run number 6  0.04734635353088379
Run number 7  0.043152570724487305
Run number 8  0.04069638252258301
Run number 9  0.04186415672302246
Total time:  0.4552638530731201
Avg:  0.046
array size: 7500
Run number 0  0.07073450088500977
Run number 1  0.05087161064147949
Run number 2  0.052696943283081055
Run number 3  0.06328177452087402
Run number 4  0.05890512466430664
Run number 5  0.050122737884521484
Run number 6  0.07099175453186035
Run number 7  0.050176143646240234
Run number 8  0.05119967460632324
Run number 9  0.06450676918029785
Total time:  0.5834870338439941
Avg:  0.058
array size: 8750
Run number 0  0.060358524322509766
Run number 1  0.062052249908447266
Run number 2  0.07955741882324219
Run number 3  0.059499502182006836
Run number 4  0.0805206298828125
Run number 5  0.08160996437072754
Run number 6  0.06525921821594238
Run number 7  0.06236696243286133
Run number 8  0.08429217338562012
Run number 9  0.0652170181274414
Total time:  0.7007336616516113
Avg:  0.07
array size: 10000
Run number 0  0.07497143745422363
Run number 1  0.07338190078735352
Run number 2  0.07027339935302734
Run number 3  0.06948995590209961
Run number 4  0.09201502799987793
Run number 5  0.08841609954833984
Run number 6  0.10217523574829102
Run number 7  0.06950688362121582
Run number 8  0.0749204158782959
Run number 9  0.07004761695861816
Total time:  0.7851979732513428
Avg:  0.079

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,0.003,0.019,0.066,0.127,0.193,0.246,1.369,2.332,4.42,6.846,8.876,11.848,15.204
merge,0.001,0.001,0.006,0.009,0.009,0.009,0.019,0.028,0.036,0.046,0.058,0.07,0.079
counting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
insertion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
selection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 3. CountingSort

In [31]:
# Adapted from https://www.w3resource.com/python-exercises/data-structures-and-algorithms/python-search-and-sorting-exercise-10.php
def countingSort(array1):
    m = len(array1) 
    count = [0] * m   # make an array with m elements containing 0             
    
    for a in array1: # itareate over the array to be sorted
    # count occurences of a and increment the count array element for that a
        count[a] += 1             
    i = 0
    for a in range(m):    # iterate over values of the array to be counted        
        for c in range(count[a]):  # fill the array to be counted with count[a] times value a 
            array1[i] = a
            i += 1
    return array1

In [32]:
array_size = [100, 250, 500, 750, 1000, 1250, 2500, 3750, 5000, 6250, 7500, 8750, 10000]

#array_size = [100,250,500,750,1000]

for i in range(0,len(array_size)):
    total_time = 0
    print("array size: " + str(array_size[i]))
    for j in range(10):
        my_array = random_array(array_size[i])
        start_time = time.time()
        res = countingSort(my_array)
        finish_time = time.time()
        #print(res)
        time_elapsed = finish_time - start_time
        print('Run number ' + str(j) + ' ', time_elapsed)
        total_time += time_elapsed
        #print(my_array)
    print('Total time: ', total_time)
    
    times_df.iat[2,i] = round((total_time/10),3)
    print('Avg: ', times_df.iat[2,i])
    
    
    
times_df

array size: 100
Run number 0  7.724761962890625e-05
Run number 1  4.649162292480469e-05
Run number 2  4.4345855712890625e-05
Run number 3  4.482269287109375e-05
Run number 4  4.410743713378906e-05
Run number 5  4.863739013671875e-05
Run number 6  4.57763671875e-05
Run number 7  4.506111145019531e-05
Run number 8  5.14984130859375e-05
Run number 9  4.315376281738281e-05
Total time:  0.0004911422729492188
Avg:  0.0
array size: 250
Run number 0  0.00010752677917480469
Run number 1  9.918212890625e-05
Run number 2  9.655952453613281e-05
Run number 3  0.00010800361633300781
Run number 4  9.822845458984375e-05
Run number 5  9.72747802734375e-05
Run number 6  0.00020813941955566406
Run number 7  0.00010085105895996094
Run number 8  0.00011038780212402344
Run number 9  9.989738464355469e-05
Total time:  0.0011260509490966797
Avg:  0.0
array size: 500
Run number 0  0.00423741340637207
Run number 1  0.0002810955047607422
Run number 2  0.00018930435180664062
Run number 3  0.0002849102020263672
Run number 4  0.0001933574676513672
Run number 5  0.00019478797912597656
Run number 6  0.0002079010009765625
Run number 7  0.0002422332763671875
Run number 8  0.00018739700317382812
Run number 9  0.0025756359100341797
Total time:  0.008594036102294922
Avg:  0.001
array size: 750
Run number 0  0.0002779960632324219
Run number 1  0.00031065940856933594
Run number 2  0.003330707550048828
Run number 3  0.004343509674072266
Run number 4  0.0003170967102050781
Run number 5  0.00027489662170410156
Run number 6  0.0002961158752441406
Run number 7  0.0004146099090576172
Run number 8  0.0002779960632324219
Run number 9  0.001386404037475586
Total time:  0.011229991912841797
Avg:  0.001
array size: 1000
Run number 0  0.0049130916595458984
Run number 1  0.000476837158203125
Run number 2  0.0004258155822753906
Run number 3  0.0006399154663085938
Run number 4  0.00069427490234375
Run number 5  0.00037288665771484375
Run number 6  0.0003581047058105469
Run number 7  0.0004010200500488281
Run number 8  0.0008482933044433594
Run number 9  0.000530242919921875
Total time:  0.009660482406616211
Avg:  0.001
array size: 1250
Run number 0  0.0005574226379394531
Run number 1  0.0005114078521728516
Run number 2  0.0006175041198730469
Run number 3  0.000484466552734375
Run number 4  0.0006062984466552734
Run number 5  0.0005037784576416016
Run number 6  0.0005202293395996094
Run number 7  0.0006554126739501953
Run number 8  0.0009756088256835938
Run number 9  0.0012717247009277344
Total time:  0.006703853607177734
Avg:  0.001
array size: 2500
Run number 0  0.0010673999786376953
Run number 1  0.0011320114135742188
Run number 2  0.001077890396118164
Run number 3  0.0010716915130615234
Run number 4  0.0010461807250976562
Run number 5  0.0011610984802246094
Run number 6  0.0010409355163574219
Run number 7  0.003350496292114258
Run number 8  0.0027837753295898438
Run number 9  0.0012083053588867188
Total time:  0.01493978500366211
Avg:  0.001
array size: 3750
Run number 0  0.004546165466308594
Run number 1  0.0016646385192871094
Run number 2  0.0054645538330078125
Run number 3  0.0015308856964111328
Run number 4  0.001440286636352539
Run number 5  0.0014972686767578125
Run number 6  0.0014367103576660156
Run number 7  0.0019161701202392578
Run number 8  0.0014886856079101562
Run number 9  0.0016617774963378906
Total time:  0.02264714241027832
Avg:  0.002
array size: 5000
Run number 0  0.011125802993774414
Run number 1  0.00579833984375
Run number 2  0.002165555953979492
Run number 3  0.001971721649169922
Run number 4  0.0021004676818847656
Run number 5  0.0019767284393310547
Run number 6  0.002026081085205078
Run number 7  0.0022318363189697266
Run number 8  0.0019450187683105469
Run number 9  0.0020902156829833984
Total time:  0.0334317684173584
Avg:  0.003
array size: 6250
Run number 0  0.0026781558990478516
Run number 1  0.01098322868347168
Run number 2  0.002461671829223633
Run number 3  0.0033388137817382812
Run number 4  0.0025954246520996094
Run number 5  0.0029077529907226562
Run number 6  0.0029294490814208984
Run number 7  0.002588510513305664
Run number 8  0.0025866031646728516
Run number 9  0.0025904178619384766
Total time:  0.0356600284576416
Avg:  0.004
array size: 7500
Run number 0  0.0028002262115478516
Run number 1  0.0032918453216552734
Run number 2  0.003034830093383789
Run number 3  0.0029761791229248047
Run number 4  0.0030524730682373047
Run number 5  0.0030651092529296875
Run number 6  0.003214597702026367
Run number 7  0.0029239654541015625
Run number 8  0.006152153015136719
Run number 9  0.0030362606048583984
Total time:  0.03354763984680176
Avg:  0.003
array size: 8750
Run number 0  0.003275156021118164
Run number 1  0.0036094188690185547
Run number 2  0.0036253929138183594
Run number 3  0.003929853439331055
Run number 4  0.0049817562103271484
Run number 5  0.01724839210510254
Run number 6  0.0072820186614990234
Run number 7  0.004138946533203125
Run number 8  0.003443002700805664
Run number 9  0.003391265869140625
Total time:  0.05492520332336426
Avg:  0.005
array size: 10000
Run number 0  0.004143953323364258
Run number 1  0.007708311080932617
Run number 2  0.0041446685791015625
Run number 3  0.009684085845947266
Run number 4  0.0040836334228515625
Run number 5  0.0042438507080078125
Run number 6  0.00408482551574707
Run number 7  0.008016347885131836
Run number 8  0.003838777542114258
Run number 9  0.004179477691650391
Total time:  0.05412793159484863
Avg:  0.005

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,0.003,0.019,0.066,0.127,0.193,0.246,1.369,2.332,4.42,6.846,8.876,11.848,15.204
merge,0.001,0.001,0.006,0.009,0.009,0.009,0.019,0.028,0.036,0.046,0.058,0.07,0.079
counting,0,0,0.001,0.001,0.001,0.001,0.001,0.002,0.003,0.004,0.003,0.005,0.005
insertion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
selection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
total_time = 0
for j in range(10):
    my_array = random_array(500000)
    start_time = time.time()
    countingSort(my_array)
    finish_time = time.time()
    time_elapsed = finish_time - start_time
    print('Run number ' + str(j) + ' ', time_elapsed)
    total_time += time_elapsed
    print('Total time: ', total_time)
    
print('Avg time: ' , round((total_time/10),3))

Run number 0  0.2358253002166748
Total time:  0.2358253002166748
Run number 1  0.24445438385009766
Total time:  0.48027968406677246
Run number 2  0.23220014572143555
Total time:  0.712479829788208
Run number 3  0.22913908958435059
Total time:  0.9416189193725586
Run number 4  0.23070168495178223
Total time:  1.1723206043243408
Run number 5  0.22971510887145996
Total time:  1.4020357131958008
Run number 6  0.23392271995544434
Total time:  1.6359584331512451
Run number 7  0.22509193420410156
Total time:  1.8610503673553467
Run number 8  0.24017906188964844
Total time:  2.101229429244995
Run number 9  0.22684741020202637
Total time:  2.3280768394470215
Avg time:  0.233

## 4. InsertionSort

In [34]:
# Adapted from https://runestone.academy/runestone/books/published/pythonds/SortSearch/TheInsertionSort.html
def insertionSort(alist):
   for index in range(1,len(alist)): # Assume 1st element is sorted, so iterate from 1 to end of array

     currentvalue = alist[index]
     position = index

     while position>0 and alist[position-1]>currentvalue: # This loop will compare  current position against all previous elements and swap them if current position is less than previous element, until postion is 0.
         alist[position]=alist[position-1] # swap with previous element if loop condition met
         position = position-1 # decrement position , so in next loop it will now be compared with previous element

     alist[position]=currentvalue # Second part of the swap (if swapping) or just assigning the same value if not swapping

In [35]:
array_size = [100, 250, 500, 750, 1000, 1250, 2500, 3750, 5000, 6250, 7500, 8750, 10000]

#array_size = [100,250,500,750,1000]

for i in range(0,len(array_size)):
    total_time = 0
    print("array size: " + str(array_size[i]))
    for j in range(10):
        my_array = random_array(array_size[i])
        start_time = time.time()
        insertionSort(my_array)
        finish_time = time.time()
        time_elapsed = finish_time - start_time
        print('Run number ' + str(j) + ' ', time_elapsed)
        total_time += time_elapsed
        #print(my_array)
    print('Total time: ', total_time)
    
    times_df.iat[3,i] = round((total_time/10),3)
    print('Avg: ', times_df.iat[3,i])
    
    
    
times_df

array size: 100
Run number 0  0.003826618194580078
Run number 1  0.0029196739196777344
Run number 2  0.0006315708160400391
Run number 3  0.0006685256958007812
Run number 4  0.0006172657012939453
Run number 5  0.0006413459777832031
Run number 6  0.0005137920379638672
Run number 7  0.004636526107788086
Run number 8  0.0005595684051513672
Run number 9  0.0005674362182617188
Total time:  0.01558232307434082
Avg:  0.002
array size: 250
Run number 0  0.007710933685302734
Run number 1  0.00853872299194336
Run number 2  0.008866548538208008
Run number 3  0.005625486373901367
Run number 4  0.007727622985839844
Run number 5  0.02713465690612793
Run number 6  0.027537107467651367
Run number 7  0.008547782897949219
Run number 8  0.00844120979309082
Run number 9  0.009739398956298828
Total time:  0.11986947059631348
Avg:  0.012
array size: 500
Run number 0  0.06372570991516113
Run number 1  0.045896053314208984
Run number 2  0.05561542510986328
Run number 3  0.03660941123962402
Run number 4  0.036329030990600586
Run number 5  0.03648996353149414
Run number 6  0.03247785568237305
Run number 7  0.029857873916625977
Run number 8  0.03200817108154297
Run number 9  0.022861003875732422
Total time:  0.39187049865722656
Avg:  0.039
array size: 750
Run number 0  0.0475921630859375
Run number 1  0.04281353950500488
Run number 2  0.03848528861999512
Run number 3  0.055886268615722656
Run number 4  0.04062247276306152
Run number 5  0.055594682693481445
Run number 6  0.03821301460266113
Run number 7  0.038829803466796875
Run number 8  0.055388450622558594
Run number 9  0.03884387016296387
Total time:  0.4522695541381836
Avg:  0.045
array size: 1000
Run number 0  0.0889120101928711
Run number 1  0.10126805305480957
Run number 2  0.08283686637878418
Run number 3  0.08929800987243652
Run number 4  0.0839536190032959
Run number 5  0.07007002830505371
Run number 6  0.08559012413024902
Run number 7  0.08544230461120605
Run number 8  0.07242012023925781
Run number 9  0.08643054962158203
Total time:  0.8462216854095459
Avg:  0.085
array size: 1250
Run number 0  0.12845158576965332
Run number 1  0.13359570503234863
Run number 2  0.12198114395141602
Run number 3  0.12600421905517578
Run number 4  0.13350224494934082
Run number 5  0.12418746948242188
Run number 6  0.12723708152770996
Run number 7  0.12540268898010254
Run number 8  0.13115286827087402
Run number 9  0.13256406784057617
Total time:  1.2840790748596191
Avg:  0.128
array size: 2500
Run number 0  0.5195784568786621
Run number 1  0.509052038192749
Run number 2  0.4901909828186035
Run number 3  0.481616735458374
Run number 4  0.4673726558685303
Run number 5  0.46425771713256836
Run number 6  0.44653820991516113
Run number 7  0.5739049911499023
Run number 8  0.506201982498169
Run number 9  0.4971034526824951
Total time:  4.955817222595215
Avg:  0.496
array size: 3750
Run number 0  1.0918688774108887
Run number 1  1.0565743446350098
Run number 2  1.0636212825775146
Run number 3  1.0577647686004639
Run number 4  1.0344228744506836
Run number 5  1.1312856674194336
Run number 6  1.4878838062286377
Run number 7  1.3236768245697021
Run number 8  1.0210280418395996
Run number 9  1.0686137676239014
Total time:  11.336740255355835
Avg:  1.134
array size: 5000
Run number 0  1.8460032939910889
Run number 1  1.81611967086792
Run number 2  2.0728251934051514
Run number 3  1.8689196109771729
Run number 4  1.8053052425384521
Run number 5  1.9674208164215088
Run number 6  1.8685448169708252
Run number 7  1.9712607860565186
Run number 8  1.8671174049377441
Run number 9  1.8454325199127197
Total time:  18.9289493560791
Avg:  1.893
array size: 6250
Run number 0  2.8266754150390625
Run number 1  3.007899522781372
Run number 2  2.8948118686676025
Run number 3  2.8656466007232666
Run number 4  2.798736333847046
Run number 5  2.9435112476348877
Run number 6  2.8733904361724854
Run number 7  2.944690227508545
Run number 8  2.8269569873809814
Run number 9  2.912078857421875
Total time:  28.894397497177124
Avg:  2.889
array size: 7500
Run number 0  4.274568796157837
Run number 1  4.281559705734253
Run number 2  4.067030191421509
Run number 3  4.151491641998291
Run number 4  4.2289838790893555
Run number 5  4.372398853302002
Run number 6  5.6141886711120605
Run number 7  4.2522265911102295
Run number 8  4.303724527359009
Run number 9  4.190544366836548
Total time:  43.736717224121094
Avg:  4.374
array size: 8750
Run number 0  5.610673666000366
Run number 1  5.702609062194824
Run number 2  5.608002662658691
Run number 3  5.768489360809326
Run number 4  5.715997695922852
Run number 5  5.798387050628662
Run number 6  5.787120580673218
Run number 7  5.6507720947265625
Run number 8  5.590048551559448
Run number 9  6.127029180526733
Total time:  57.359129905700684
Avg:  5.736
array size: 10000
Run number 0  7.677488803863525
Run number 1  7.551412105560303
Run number 2  7.6283533573150635
Run number 3  7.725731372833252
Run number 4  7.299370765686035
Run number 5  7.450337171554565
Run number 6  7.493894100189209
Run number 7  7.642217397689819
Run number 8  7.3146960735321045
Run number 9  7.516764879226685
Total time:  75.30026602745056
Avg:  7.53

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,0.003,0.019,0.066,0.127,0.193,0.246,1.369,2.332,4.42,6.846,8.876,11.848,15.204
merge,0.001,0.001,0.006,0.009,0.009,0.009,0.019,0.028,0.036,0.046,0.058,0.07,0.079
counting,0,0,0.001,0.001,0.001,0.001,0.001,0.002,0.003,0.004,0.003,0.005,0.005
insertion,0.002,0.012,0.039,0.045,0.085,0.128,0.496,1.134,1.893,2.889,4.374,5.736,7.53
selection,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 5. SelectionSort

In [36]:
# Adapted from https://runestone.academy/runestone/books/published/pythonds/SortSearch/TheSelectionSort.html
def selectionSort(alist):
   for fillslot in range(len(alist)-1,0,-1):
       positionOfMax=0
       for location in range(1,fillslot+1):
           if alist[location]>alist[positionOfMax]:
               positionOfMax = location

       temp = alist[fillslot]
       alist[fillslot] = alist[positionOfMax]
       alist[positionOfMax] = temp

In [37]:
array_size = [100, 250, 500, 750, 1000, 1250, 2500, 3750, 5000, 6250, 7500, 8750, 10000]

#array_size = [100,250,500,750,1000]

for i in range(0,len(array_size)):
    total_time = 0
    print("array size: " + str(array_size[i]))
    for j in range(10):
        my_array = random_array(array_size[i])
        start_time = time.time()
        selectionSort(my_array)
        finish_time = time.time()
        time_elapsed = finish_time - start_time
        print('Run number ' + str(j) + ' ', time_elapsed)
        total_time += time_elapsed
        #print(my_array)
    print('Total time: ', total_time)
    
    times_df.iat[4,i] = round((total_time/10),3)
    print('Avg: ', times_df.iat[4,i])
    
    
    
times_df

array size: 100
Run number 0  0.002876758575439453
Run number 1  0.002185344696044922
Run number 2  0.0005023479461669922
Run number 3  0.0004897117614746094
Run number 4  0.0006895065307617188
Run number 5  0.0005669593811035156
Run number 6  0.0006458759307861328
Run number 7  0.0006697177886962891
Run number 8  0.0007536411285400391
Run number 9  0.0007874965667724609
Total time:  0.010167360305786133
Avg:  0.001
array size: 250
Run number 0  0.007770061492919922
Run number 1  0.007077217102050781
Run number 2  0.014373540878295898
Run number 3  0.006428718566894531
Run number 4  0.007675886154174805
Run number 5  0.007397174835205078
Run number 6  0.0073053836822509766
Run number 7  0.007439374923706055
Run number 8  0.009918451309204102
Run number 9  0.006602764129638672
Total time:  0.08198857307434082
Avg:  0.008
array size: 500
Run number 0  0.02590465545654297
Run number 1  0.013728618621826172
Run number 2  0.01954936981201172
Run number 3  0.01575326919555664
Run number 4  0.013451337814331055
Run number 5  0.013761043548583984
Run number 6  0.013646602630615234
Run number 7  0.013638973236083984
Run number 8  0.013553619384765625
Run number 9  0.024162769317626953
Total time:  0.16715025901794434
Avg:  0.017
array size: 750
Run number 0  0.04781389236450195
Run number 1  0.04804682731628418
Run number 2  0.03461790084838867
Run number 3  0.03613018989562988
Run number 4  0.056284427642822266
Run number 5  0.036740779876708984
Run number 6  0.0481722354888916
Run number 7  0.0361475944519043
Run number 8  0.03098440170288086
Run number 9  0.03130626678466797
Total time:  0.40624451637268066
Avg:  0.041
array size: 1000
Run number 0  0.07225632667541504
Run number 1  0.07130837440490723
Run number 2  0.05504560470581055
Run number 3  0.05606436729431152
Run number 4  0.07507681846618652
Run number 5  0.07279062271118164
Run number 6  0.05710339546203613
Run number 7  0.055342912673950195
Run number 8  0.07317209243774414
Run number 9  0.07178735733032227
Total time:  0.6599478721618652
Avg:  0.066
array size: 1250
Run number 0  0.09000134468078613
Run number 1  0.10869836807250977
Run number 2  0.08699965476989746
Run number 3  0.08800101280212402
Run number 4  0.10365104675292969
Run number 5  0.08773922920227051
Run number 6  0.08869528770446777
Run number 7  0.10753989219665527
Run number 8  0.08842253684997559
Run number 9  0.08846783638000488
Total time:  0.9382162094116211
Avg:  0.094
array size: 2500
Run number 0  0.38936686515808105
Run number 1  0.3724830150604248
Run number 2  0.38217973709106445
Run number 3  0.36951613426208496
Run number 4  0.3847830295562744
Run number 5  0.3751251697540283
Run number 6  0.3774759769439697
Run number 7  0.3788025379180908
Run number 8  0.4449605941772461
Run number 9  0.4580392837524414
Total time:  3.932732343673706
Avg:  0.393
array size: 3750
Run number 0  0.8625907897949219
Run number 1  0.8239960670471191
Run number 2  0.8379898071289062
Run number 3  0.9168121814727783
Run number 4  0.9364264011383057
Run number 5  0.8692641258239746
Run number 6  0.839672327041626
Run number 7  0.823645830154419
Run number 8  0.8317205905914307
Run number 9  0.848447322845459
Total time:  8.59056544303894
Avg:  0.859
array size: 5000
Run number 0  1.5243918895721436
Run number 1  1.5543076992034912
Run number 2  1.7124757766723633
Run number 3  1.4942238330841064
Run number 4  1.484264612197876
Run number 5  1.5053069591522217
Run number 6  1.5856196880340576
Run number 7  1.525670051574707
Run number 8  1.4748740196228027
Run number 9  1.5283243656158447
Total time:  15.389458894729614
Avg:  1.539
array size: 6250
Run number 0  2.319643020629883
Run number 1  2.344379425048828
Run number 2  2.3999109268188477
Run number 3  2.4628612995147705
Run number 4  3.4107272624969482
Run number 5  4.733259677886963
Run number 6  4.8994762897491455
Run number 7  4.431555271148682
Run number 8  2.375877618789673
Run number 9  2.2846906185150146
Total time:  31.662381410598755
Avg:  3.166
array size: 7500
Run number 0  3.532266855239868
Run number 1  3.752737045288086
Run number 2  4.942296981811523
Run number 3  3.429246425628662
Run number 4  3.4540162086486816
Run number 5  3.3531110286712646
Run number 6  3.5131003856658936
Run number 7  3.4514501094818115
Run number 8  3.3636434078216553
Run number 9  3.432650566101074
Total time:  36.22451901435852
Avg:  3.622
array size: 8750
Run number 0  4.637860536575317
Run number 1  4.515643119812012
Run number 2  4.620423316955566
Run number 3  4.637063980102539
Run number 4  4.568857669830322
Run number 5  4.725733757019043
Run number 6  5.246996641159058
Run number 7  4.6085429191589355
Run number 8  4.858606338500977
Run number 9  4.912437438964844
Total time:  47.33216571807861
Avg:  4.733
array size: 10000
Run number 0  5.99817156791687
Run number 1  6.8989341259002686
Run number 2  6.195859432220459
Run number 3  5.868028402328491
Run number 4  6.175885915756226
Run number 5  5.909818410873413
Run number 6  6.075958967208862
Run number 7  6.1366331577301025
Run number 8  6.0336713790893555
Run number 9  5.982361793518066
Total time:  61.275323152542114
Avg:  6.128

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,0.003,0.019,0.066,0.127,0.193,0.246,1.369,2.332,4.42,6.846,8.876,11.848,15.204
merge,0.001,0.001,0.006,0.009,0.009,0.009,0.019,0.028,0.036,0.046,0.058,0.07,0.079
counting,0,0,0.001,0.001,0.001,0.001,0.001,0.002,0.003,0.004,0.003,0.005,0.005
insertion,0.002,0.012,0.039,0.045,0.085,0.128,0.496,1.134,1.893,2.889,4.374,5.736,7.53
selection,0.001,0.008,0.017,0.041,0.066,0.094,0.393,0.859,1.539,3.166,3.622,4.733,6.128

In [7]:
arr1 = random_array(10)
arr1

[71, 21, 9, 67, 99, 33, 56, 80, 82, 64]

In [8]:
arr2 = list(arr1)
arr2

[71, 21, 9, 67, 99, 33, 56, 80, 82, 64]

In [9]:
arr3 = list(arr1)
arr3

[71, 21, 9, 67, 99, 33, 56, 80, 82, 64]

In [10]:
arr1[0] = 5
arr1

[5, 21, 9, 67, 99, 33, 56, 80, 82, 64]

In [11]:
arr2

[71, 21, 9, 67, 99, 33, 56, 80, 82, 64]

In [12]:
arr3

[71, 21, 9, 67, 99, 33, 56, 80, 82, 64]

In [13]:
arr2[0] = 11

In [14]:
arr2

[11, 21, 9, 67, 99, 33, 56, 80, 82, 64]

In [15]:
arr1

[5, 21, 9, 67, 99, 33, 56, 80, 82, 64]

In [16]:
arr3

[71, 21, 9, 67, 99, 33, 56, 80, 82, 64]