In [1]:
import time
import numpy as np
import pandas as pd

In [2]:
def random_array(n):
    array = []
    for i in range(0,n,1):
        array.append(np.random.randint(0,100))
    return array

In [3]:
# adapted from https://runestone.academy/runestone/books/published/pythonds/SortSearch/TheBubbleSort.html
def bubbleSort(alist):
    for passnum in range(len(alist)-1,0,-1):   # loop over array from last to first. After the first pass the largest number will be in the last position. Each successive loop will be shorter as the largest number will be at the end and the loop decrements.
        for i in range(passnum): # loop from first to last swapping number with the one after it if first number is greater.
            if alist[i]>alist[i+1]: # Compare item at postion i with item at position i+1
                alist[i], alist[i+1] = alist[i+1], alist[i] # Swap the two items if above condtion is matched

In [30]:
cols = ['n=100','n=250','n=500','n=750','n=1000','n=1250','n=2500','n=3750','n=5000','n=6250','n=7500','n=8750','n=10000']
indexes = ['bubble', 'merge', 'counting', 'insertion','shell']
times_df =  pd.DataFrame(index=indexes,columns=cols)
times_df

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
merge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
counting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
insertion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
array_size = [100, 250, 500, 750, 1000, 1250, 2500, 3750, 5000, 6250, 7500, 8750, 10000]


for i in range(0,len(array_size)):
    total_time = 0
    print("array size: " + str(array_size[i]))
    for j in range(10):
        my_array = random_array(array_size[i])
        start_time = time.time()
        bubbleSort(my_array)
        finish_time = time.time()
        time_elapsed = finish_time - start_time
        print('Run number ' + str(j) + ' ', time_elapsed)
        total_time += time_elapsed
    print('Total time: ', total_time)
    
    times_df.iat[0,i] = round((total_time/10),3)
    print('Avg: ', times_df.iat[0,i])
    
    
    
times_df

array size: 100
Run number 0  0.003599405288696289
Run number 1  0.0024406909942626953
Run number 2  0.0012984275817871094
Run number 3  0.0014417171478271484
Run number 4  0.006627798080444336
Run number 5  0.0011758804321289062
Run number 6  0.006249666213989258
Run number 7  0.0033740997314453125
Run number 8  0.0012080669403076172
Run number 9  0.0011866092681884766
Total time:  0.02860236167907715
Avg:  0.003
array size: 250
Run number 0  0.017063617706298828
Run number 1  0.014579296112060547
Run number 2  0.016684770584106445
Run number 3  0.014459848403930664
Run number 4  0.02140188217163086
Run number 5  0.014236927032470703
Run number 6  0.0192413330078125
Run number 7  0.019460678100585938
Run number 8  0.020529747009277344
Run number 9  0.02104020118713379
Total time:  0.17869830131530762
Avg:  0.018
array size: 500
Run number 0  0.07693982124328613
Run number 1  0.07766604423522949
Run number 2  0.11319684982299805
Run number 3  0.08570551872253418
Run number 4  0.09203362464904785
Run number 5  0.07950830459594727
Run number 6  0.08009076118469238
Run number 7  0.07822632789611816
Run number 8  0.07149314880371094
Run number 9  0.07288861274719238
Total time:  0.8277490139007568
Avg:  0.083
array size: 750
Run number 0  0.17509937286376953
Run number 1  0.1758115291595459
Run number 2  0.20257830619812012
Run number 3  0.24350619316101074
Run number 4  0.17579054832458496
Run number 5  0.20928025245666504
Run number 6  0.22823286056518555
Run number 7  0.1744251251220703
Run number 8  0.1591794490814209
Run number 9  0.15970754623413086
Total time:  1.903611183166504
Avg:  0.19
array size: 1000
Run number 0  0.29564785957336426
Run number 1  0.2918074131011963
Run number 2  0.27768993377685547
Run number 3  0.27876830101013184
Run number 4  0.28340959548950195
Run number 5  0.28737926483154297
Run number 6  0.3190269470214844
Run number 7  0.31595754623413086
Run number 8  0.2881920337677002
Run number 9  0.2864863872528076
Total time:  2.924365282058716
Avg:  0.292
array size: 1250
Run number 0  0.4547302722930908
Run number 1  0.44603824615478516
Run number 2  0.49714064598083496
Run number 3  0.48400282859802246
Run number 4  0.4943375587463379
Run number 5  0.48500800132751465
Run number 6  0.4660525321960449
Run number 7  0.4755101203918457
Run number 8  0.43880629539489746
Run number 9  0.5519547462463379
Total time:  4.793581247329712
Avg:  0.479
array size: 2500
Run number 0  1.8060507774353027
Run number 1  1.8442556858062744
Run number 2  1.8571157455444336
Run number 3  1.8004734516143799
Run number 4  1.7469289302825928
Run number 5  1.6724374294281006
Run number 6  0.8953948020935059
Run number 7  1.0473964214324951
Run number 8  1.18729829788208
Run number 9  1.0319547653198242
Total time:  14.88930630683899
Avg:  1.489
array size: 3750
Run number 0  2.583578586578369
Run number 1  3.087031364440918
Run number 2  2.727020263671875
Run number 3  2.1793899536132812
Run number 4  2.1003034114837646
Run number 5  2.0280680656433105
Run number 6  2.0318589210510254
Run number 7  2.919403314590454
Run number 8  2.568838596343994
Run number 9  2.2487452030181885
Total time:  24.47423768043518
Avg:  2.447
array size: 5000
Run number 0  3.7923834323883057
Run number 1  3.71732759475708
Run number 2  3.596003532409668
Run number 3  3.767416000366211
Run number 4  3.8075461387634277
Run number 5  3.7798540592193604
Run number 6  3.6272692680358887
Run number 7  4.067738056182861
Run number 8  3.6250343322753906
Run number 9  3.6851296424865723
Total time:  37.465702056884766
Avg:  3.747
array size: 6250
Run number 0  5.665332794189453
Run number 1  5.709256649017334
Run number 2  5.620651721954346
Run number 3  5.733569860458374
Run number 4  5.82001805305481
Run number 5  5.66792106628418
Run number 6  5.77497410774231
Run number 7  5.685383558273315
Run number 8  5.619107961654663
Run number 9  5.689873218536377
Total time:  56.98608899116516
Avg:  5.699
array size: 7500
Run number 0  8.158811092376709
Run number 1  8.097286224365234
Run number 2  8.169774293899536
Run number 3  8.308143138885498
Run number 4  8.585858821868896
Run number 5  8.23537015914917
Run number 6  8.29615569114685
Run number 7  8.231512308120728
Run number 8  8.043711185455322
Run number 9  8.05656909942627
Total time:  82.18319201469421
Avg:  8.218
array size: 8750
Run number 0  11.175283670425415
Run number 1  11.148401260375977
Run number 2  11.196577072143555
Run number 3  11.079140663146973
Run number 4  11.135765075683594
Run number 5  12.389451026916504
Run number 6  11.553850889205933
Run number 7  11.216181516647339
Run number 8  11.071052551269531
Run number 9  10.948884963989258
Total time:  112.91458868980408
Avg:  11.291
array size: 10000
Run number 0  14.633567810058594
Run number 1  14.540944337844849
Run number 2  14.832725286483765
Run number 3  15.244667768478394
Run number 4  14.899678230285645
Run number 5  14.978445529937744
Run number 6  15.019467830657959
Run number 7  14.848411321640015
Run number 8  14.9805269241333
Run number 9  15.03519058227539
Total time:  149.01362562179565
Avg:  14.901

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,0.003,0.018,0.083,0.19,0.292,0.479,1.489,2.447,3.747,5.699,8.218,11.291,14.901
merge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
counting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Adapted from https://runestone.academy/runestone/books/published/pythonds/SortSearch/TheMergeSort.html
def mergeSort(alist):
    #print("Splitting ",alist)
    if len(alist)>1:
        mid = len(alist)//2
        lefthalf = alist[:mid]
        righthalf = alist[mid:]

        mergeSort(lefthalf)
        mergeSort(righthalf)

        i=0
        j=0
        k=0
        while i < len(lefthalf) and j < len(righthalf):
            if lefthalf[i] <= righthalf[j]:
                alist[k]=lefthalf[i]
                i=i+1
            else:
                alist[k]=righthalf[j]
                j=j+1
            k=k+1

        while i < len(lefthalf):
            alist[k]=lefthalf[i]
            i=i+1
            k=k+1

        while j < len(righthalf):
            alist[k]=righthalf[j]
            j=j+1
            k=k+1
    #print("Merging ",alist)

In [31]:
array_size = [100, 250, 500, 750, 1000, 1250, 2500, 3750, 5000, 6250, 7500, 8750, 10000]

#array_size = [6250,7500,8750,10000]

for i in range(0,len(array_size)):
    total_time = 0
    print("array size: " + str(array_size[i]))
    for j in range(10):
        my_array = random_array(array_size[i])
        start_time = time.time()
        mergeSort(my_array)
        finish_time = time.time()
        time_elapsed = finish_time - start_time
        print('Run number ' + str(j) + ' ', time_elapsed)
        total_time += time_elapsed
        #print(my_array)
    print('Total time: ', total_time)
    
    times_df.iat[1,i] = round((total_time/10),3)
    print('Avg: ', times_df.iat[1,i])
    
    
    
times_df

array size: 100
Run number 0  0.002389192581176758
Run number 1  0.0003619194030761719
Run number 2  0.0003609657287597656
Run number 3  0.0009424686431884766
Run number 4  0.0004646778106689453
Run number 5  0.0006008148193359375
Run number 6  0.0004737377166748047
Run number 7  0.0004467964172363281
Run number 8  0.0003981590270996094
Run number 9  0.0003941059112548828
Total time:  0.00683283805847168
Avg:  0.001
array size: 250
Run number 0  0.0012581348419189453
Run number 1  0.0011191368103027344
Run number 2  0.0012679100036621094
Run number 3  0.005059719085693359
Run number 4  0.001068115234375
Run number 5  0.0011341571807861328
Run number 6  0.004730701446533203
Run number 7  0.0022287368774414062
Run number 8  0.0010356903076171875
Run number 9  0.001251220703125
Total time:  0.020153522491455078
Avg:  0.002
array size: 500
Run number 0  0.005899190902709961
Run number 1  0.013781070709228516
Run number 2  0.00684356689453125
Run number 3  0.013111591339111328
Run number 4  0.017814159393310547
Run number 5  0.006413698196411133
Run number 6  0.007269620895385742
Run number 7  0.010710477828979492
Run number 8  0.00691986083984375
Run number 9  0.014201879501342773
Total time:  0.10296511650085449
Avg:  0.01
array size: 750
Run number 0  0.023448705673217773
Run number 1  0.016547203063964844
Run number 2  0.010831117630004883
Run number 3  0.010159730911254883
Run number 4  0.018395185470581055
Run number 5  0.008086919784545898
Run number 6  0.004311323165893555
Run number 7  0.006180524826049805
Run number 8  0.014127492904663086
Run number 9  0.010430097579956055
Total time:  0.12251830101013184
Avg:  0.012
array size: 1000
Run number 0  0.01494145393371582
Run number 1  0.01230001449584961
Run number 2  0.005671501159667969
Run number 3  0.00539398193359375
Run number 4  0.0056226253509521484
Run number 5  0.005451202392578125
Run number 6  0.005385875701904297
Run number 7  0.005501270294189453
Run number 8  0.005647897720336914
Run number 9  0.005102634429931641
Total time:  0.07101845741271973
Avg:  0.007
array size: 1250
Run number 0  0.007003068923950195
Run number 1  0.00686192512512207
Run number 2  0.007056474685668945
Run number 3  0.01808905601501465
Run number 4  0.01691269874572754
Run number 5  0.012033462524414062
Run number 6  0.007669210433959961
Run number 7  0.007185935974121094
Run number 8  0.006880760192871094
Run number 9  0.006815910339355469
Total time:  0.09650850296020508
Avg:  0.01
array size: 2500
Run number 0  0.014801979064941406
Run number 1  0.015552282333374023
Run number 2  0.015211105346679688
Run number 3  0.0144500732421875
Run number 4  0.031052827835083008
Run number 5  0.020841360092163086
Run number 6  0.015179157257080078
Run number 7  0.015443086624145508
Run number 8  0.015033245086669922
Run number 9  0.01530599594116211
Total time:  0.17287111282348633
Avg:  0.017
array size: 3750
Run number 0  0.02425217628479004
Run number 1  0.023209810256958008
Run number 2  0.053380727767944336
Run number 3  0.0252382755279541
Run number 4  0.02366018295288086
Run number 5  0.02688312530517578
Run number 6  0.023455142974853516
Run number 7  0.026882171630859375
Run number 8  0.05158376693725586
Run number 9  0.035590410232543945
Total time:  0.3141357898712158
Avg:  0.031
array size: 5000
Run number 0  0.06115007400512695
Run number 1  0.03263545036315918
Run number 2  0.06627392768859863
Run number 3  0.0338590145111084
Run number 4  0.03232073783874512
Run number 5  0.03230118751525879
Run number 6  0.03333330154418945
Run number 7  0.06775617599487305
Run number 8  0.06883764266967773
Run number 9  0.08098721504211426
Total time:  0.5094547271728516
Avg:  0.051
array size: 6250
Run number 0  0.08049201965332031
Run number 1  0.04301190376281738
Run number 2  0.04189419746398926
Run number 3  0.04271721839904785
Run number 4  0.07745122909545898
Run number 5  0.04490232467651367
Run number 6  0.04495406150817871
Run number 7  0.04221963882446289
Run number 8  0.09385323524475098
Run number 9  0.09901690483093262
Total time:  0.6105127334594727
Avg:  0.061
array size: 7500
Run number 0  0.06212902069091797
Run number 1  0.07605767250061035
Run number 2  0.11129093170166016
Run number 3  0.0913691520690918
Run number 4  0.1225428581237793
Run number 5  0.06540298461914062
Run number 6  0.05089712142944336
Run number 7  0.10466790199279785
Run number 8  0.10999608039855957
Run number 9  0.08568191528320312
Total time:  0.8800356388092041
Avg:  0.088
array size: 8750
Run number 0  0.06113696098327637
Run number 1  0.06317496299743652
Run number 2  0.0969095230102539
Run number 3  0.06041717529296875
Run number 4  0.061940908432006836
Run number 5  0.09541559219360352
Run number 6  0.06085944175720215
Run number 7  0.06034421920776367
Run number 8  0.09438157081604004
Run number 9  0.06828474998474121
Total time:  0.722865104675293
Avg:  0.072
array size: 10000
Run number 0  0.07248735427856445
Run number 1  0.08729100227355957
Run number 2  0.10543966293334961
Run number 3  0.09589672088623047
Run number 4  0.07424116134643555
Run number 5  0.08825802803039551
Run number 6  0.1479501724243164
Run number 7  0.10795760154724121
Run number 8  0.12196993827819824
Run number 9  0.12350726127624512
Total time:  1.0249989032745361
Avg:  0.102

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
merge,0.001,0.002,0.01,0.012,0.007,0.01,0.017,0.031,0.051,0.061,0.088,0.072,0.102
counting,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
insertion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# Adapted from https://www.w3resource.com/python-exercises/data-structures-and-algorithms/python-search-and-sorting-exercise-10.php
def countingSort(array1):
    m = len(array1) 
    count = [0] * m   # make an array with m elements containing 0             
    
    for a in array1: # itareate over the array to be sorted
    # count occurences of a and increment the count array element for that a
        count[a] += 1             
    i = 0
    for a in range(m):    # iterate over values of the array to be counted        
        for c in range(count[a]):  # fill the array to be counted with count[a] times value a 
            array1[i] = a
            i += 1
    return array1

In [33]:
array_size = [100, 250, 500, 750, 1000, 1250, 2500, 3750, 5000, 6250, 7500, 8750, 10000]

#array_size = [100,250,500,750,1000]

for i in range(0,len(array_size)):
    total_time = 0
    print("array size: " + str(array_size[i]))
    for j in range(10):
        my_array = random_array(array_size[i])
        start_time = time.time()
        res = countingSort(my_array)
        finish_time = time.time()
        #print(res)
        time_elapsed = finish_time - start_time
        print('Run number ' + str(j) + ' ', time_elapsed)
        total_time += time_elapsed
        #print(my_array)
    print('Total time: ', total_time)
    
    times_df.iat[2,i] = round((total_time/10),3)
    print('Avg: ', times_df.iat[1,i])
    
    
    
times_df

array size: 100
Run number 0  0.00026488304138183594
Run number 1  4.673004150390625e-05
Run number 2  4.458427429199219e-05
Run number 3  4.458427429199219e-05
Run number 4  0.0002193450927734375
Run number 5  4.2438507080078125e-05
Run number 6  4.3392181396484375e-05
Run number 7  4.1961669921875e-05
Run number 8  4.4345855712890625e-05
Run number 9  4.220008850097656e-05
Total time:  0.0008344650268554688
Avg:  0.001
array size: 250
Run number 0  9.799003601074219e-05
Run number 1  9.894371032714844e-05
Run number 2  9.703636169433594e-05
Run number 3  0.0001251697540283203
Run number 4  0.0001251697540283203
Run number 5  0.00012445449829101562
Run number 6  9.72747802734375e-05
Run number 7  9.799003601074219e-05
Run number 8  9.679794311523438e-05
Run number 9  9.5367431640625e-05
Total time:  0.0010561943054199219
Avg:  0.002
array size: 500
Run number 0  0.00025391578674316406
Run number 1  0.0002582073211669922
Run number 2  0.00022935867309570312
Run number 3  0.0001919269561767578
Run number 4  0.0001888275146484375
Run number 5  0.0001857280731201172
Run number 6  0.0001838207244873047
Run number 7  0.00019049644470214844
Run number 8  0.00018739700317382812
Run number 9  0.00020933151245117188
Total time:  0.002079010009765625
Avg:  0.01
array size: 750
Run number 0  0.002239227294921875
Run number 1  0.00027108192443847656
Run number 2  0.000278472900390625
Run number 3  0.002969503402709961
Run number 4  0.00028586387634277344
Run number 5  0.00041484832763671875
Run number 6  0.00032329559326171875
Run number 7  0.0029811859130859375
Run number 8  0.0002818107604980469
Run number 9  0.0004742145538330078
Total time:  0.01051950454711914
Avg:  0.012
array size: 1000
Run number 0  0.0008845329284667969
Run number 1  0.0020170211791992188
Run number 2  0.00036334991455078125
Run number 3  0.0005171298980712891
Run number 4  0.00047516822814941406
Run number 5  0.00036644935607910156
Run number 6  0.000370025634765625
Run number 7  0.0003864765167236328
Run number 8  0.0003769397735595703
Run number 9  0.0007205009460449219
Total time:  0.0064775943756103516
Avg:  0.007
array size: 1250
Run number 0  0.0006949901580810547
Run number 1  0.0005035400390625
Run number 2  0.0004506111145019531
Run number 3  0.00044918060302734375
Run number 4  0.0005958080291748047
Run number 5  0.00044846534729003906
Run number 6  0.0004851818084716797
Run number 7  0.0005316734313964844
Run number 8  0.00044918060302734375
Run number 9  0.0004949569702148438
Total time:  0.005103588104248047
Avg:  0.01
array size: 2500
Run number 0  0.00299835205078125
Run number 1  0.003499269485473633
Run number 2  0.0028009414672851562
Run number 3  0.0010540485382080078
Run number 4  0.0011632442474365234
Run number 5  0.0009558200836181641
Run number 6  0.0009484291076660156
Run number 7  0.0010676383972167969
Run number 8  0.0011544227600097656
Run number 9  0.0010907649993896484
Total time:  0.01673293113708496
Avg:  0.017
array size: 3750
Run number 0  0.0017118453979492188
Run number 1  0.0015265941619873047
Run number 2  0.001554727554321289
Run number 3  0.0015265941619873047
Run number 4  0.0014705657958984375
Run number 5  0.0014929771423339844
Run number 6  0.0014793872833251953
Run number 7  0.001706838607788086
Run number 8  0.0014057159423828125
Run number 9  0.001508474349975586
Total time:  0.015383720397949219
Avg:  0.031
array size: 5000
Run number 0  0.0018568038940429688
Run number 1  0.0021369457244873047
Run number 2  0.001967191696166992
Run number 3  0.002409696578979492
Run number 4  0.001977205276489258
Run number 5  0.002181529998779297
Run number 6  0.0024709701538085938
Run number 7  0.002207517623901367
Run number 8  0.006543874740600586
Run number 9  0.0020067691802978516
Total time:  0.02575850486755371
Avg:  0.051
array size: 6250
Run number 0  0.002696514129638672
Run number 1  0.002859354019165039
Run number 2  0.002665996551513672
Run number 3  0.0024797916412353516
Run number 4  0.0026345252990722656
Run number 5  0.0029599666595458984
Run number 6  0.0027625560760498047
Run number 7  0.009648799896240234
Run number 8  0.0025937557220458984
Run number 9  0.002476930618286133
Total time:  0.03377819061279297
Avg:  0.061
array size: 7500
Run number 0  0.009308338165283203
Run number 1  0.0031862258911132812
Run number 2  0.009140253067016602
Run number 3  0.009284019470214844
Run number 4  0.009540796279907227
Run number 5  0.0031652450561523438
Run number 6  0.003106355667114258
Run number 7  0.003051280975341797
Run number 8  0.015401124954223633
Run number 9  0.006406068801879883
Total time:  0.07158970832824707
Avg:  0.088
array size: 8750
Run number 0  0.011047840118408203
Run number 1  0.0077054500579833984
Run number 2  0.00347900390625
Run number 3  0.005414485931396484
Run number 4  0.006989002227783203
Run number 5  0.009038209915161133
Run number 6  0.007544755935668945
Run number 7  0.009073734283447266
Run number 8  0.007927417755126953
Run number 9  0.008546829223632812
Total time:  0.0767667293548584
Avg:  0.072
array size: 10000
Run number 0  0.014129161834716797
Run number 1  0.004019498825073242
Run number 2  0.007572650909423828
Run number 3  0.006295680999755859
Run number 4  0.007962465286254883
Run number 5  0.008074760437011719
Run number 6  0.012160062789916992
Run number 7  0.008710622787475586
Run number 8  0.007570505142211914
Run number 9  0.004203319549560547
Total time:  0.08069872856140137
Avg:  0.102

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
merge,0.001,0.002,0.01,0.012,0.007,0.01,0.017,0.031,0.051,0.061,0.088,0.072,0.102
counting,0,0,0,0.001,0.001,0.001,0.002,0.002,0.003,0.003,0.007,0.008,0.008
insertion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
shell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
total_time = 0
for j in range(10):
    my_array = random_array(500000)
    start_time = time.time()
    countingSort(my_array)
    finish_time = time.time()
    time_elapsed = finish_time - start_time
    print('Run number ' + str(j) + ' ', time_elapsed)
    total_time += time_elapsed
    print('Total time: ', total_time)
    
print('Avg time: ' , round((total_time/10),3))

Run number 0  0.23183798789978027
Total time:  0.23183798789978027
Run number 1  0.24643206596374512
Total time:  0.4782700538635254
Run number 2  0.22307157516479492
Total time:  0.7013416290283203
Run number 3  0.2751789093017578
Total time:  0.9765205383300781
Run number 4  0.23300504684448242
Total time:  1.2095255851745605
Run number 5  0.23264622688293457
Total time:  1.4421718120574951
Run number 6  0.2337512969970703
Total time:  1.6759231090545654
Run number 7  0.22348999977111816
Total time:  1.8994131088256836
Run number 8  0.22846722602844238
Total time:  2.127880334854126
Run number 9  0.25008678436279297
Total time:  2.377967119216919
Avg time:  0.238

In [34]:
# Adapted from https://runestone.academy/runestone/books/published/pythonds/SortSearch/TheInsertionSort.html
def insertionSort(alist):
   for index in range(1,len(alist)): # Assume 1st element is sorted, so iterate from 1 to end of array

     currentvalue = alist[index]
     position = index

     while position>0 and alist[position-1]>currentvalue: # This loop will compare  current position against all previous elements and swap them if current position is less than previous element, until postion is 0.
         alist[position]=alist[position-1] # swap with previous element if loop condition met
         position = position-1 # decrement position , so in next loop it will now be compared with previous element

     alist[position]=currentvalue # Second part of the swap (if swapping) or just assigning the same value if not swapping

In [36]:
array_size = [100, 250, 500, 750, 1000, 1250, 2500, 3750, 5000, 6250, 7500, 8750, 10000]

#array_size = [100,250,500,750,1000]

for i in range(0,len(array_size)):
    total_time = 0
    print("array size: " + str(array_size[i]))
    for j in range(10):
        my_array = random_array(array_size[i])
        start_time = time.time()
        insertionSort(my_array)
        finish_time = time.time()
        time_elapsed = finish_time - start_time
        print('Run number ' + str(j) + ' ', time_elapsed)
        total_time += time_elapsed
        #print(my_array)
    print('Total time: ', total_time)
    
    times_df.iat[3,i] = round((total_time/10),3)
    print('Avg: ', times_df.iat[1,i])
    
    
    
times_df

array size: 100
Run number 0  0.00048065185546875
Run number 1  0.0016617774963378906
Run number 2  0.0006287097930908203
Run number 3  0.0005130767822265625
Run number 4  0.0006341934204101562
Run number 5  0.0007691383361816406
Run number 6  0.0009493827819824219
Run number 7  0.0007834434509277344
Run number 8  0.0007774829864501953
Run number 9  0.0006425380706787109
Total time:  0.007840394973754883
Avg:  0.001
array size: 250
Run number 0  0.00939798355102539
Run number 1  0.0077130794525146484
Run number 2  0.003709554672241211
Run number 3  0.003369569778442383
Run number 4  0.00809335708618164
Run number 5  0.004261016845703125
Run number 6  0.0035037994384765625
Run number 7  0.011493444442749023
Run number 8  0.0039980411529541016
Run number 9  0.010059118270874023
Total time:  0.06559896469116211
Avg:  0.002
array size: 500
Run number 0  0.026470422744750977
Run number 1  0.03805088996887207
Run number 2  0.05256295204162598
Run number 3  0.03312110900878906
Run number 4  0.037195682525634766
Run number 5  0.036173343658447266
Run number 6  0.02443408966064453
Run number 7  0.04586958885192871
Run number 8  0.0189669132232666
Run number 9  0.01638936996459961
Total time:  0.32923436164855957
Avg:  0.01
array size: 750
Run number 0  0.04886889457702637
Run number 1  0.03881955146789551
Run number 2  0.07076406478881836
Run number 3  0.05074763298034668
Run number 4  0.04312872886657715
Run number 5  0.03817605972290039
Run number 6  0.036864280700683594
Run number 7  0.055738210678100586
Run number 8  0.06059598922729492
Run number 9  0.03830099105834961
Total time:  0.48200440406799316
Avg:  0.012
array size: 1000
Run number 0  0.07428407669067383
Run number 1  0.10527682304382324
Run number 2  0.0682828426361084
Run number 3  0.07066917419433594
Run number 4  0.09067702293395996
Run number 5  0.08883237838745117
Run number 6  0.0996389389038086
Run number 7  0.11544942855834961
Run number 8  0.07089567184448242
Run number 9  0.12979912757873535
Total time:  0.9138054847717285
Avg:  0.007
array size: 1250
Run number 0  0.23955297470092773
Run number 1  0.27229785919189453
Run number 2  0.3296184539794922
Run number 3  0.3281557559967041
Run number 4  0.2617466449737549
Run number 5  0.2521095275878906
Run number 6  0.24420475959777832
Run number 7  0.19507980346679688
Run number 8  0.14244914054870605
Run number 9  0.16125893592834473
Total time:  2.42647385597229
Avg:  0.01
array size: 2500
Run number 0  0.6014673709869385
Run number 1  0.7000472545623779
Run number 2  0.63189697265625
Run number 3  0.48526787757873535
Run number 4  0.49904322624206543
Run number 5  0.8776109218597412
Run number 6  0.49465179443359375
Run number 7  0.51004958152771
Run number 8  0.4919595718383789
Run number 9  0.5150856971740723
Total time:  5.807080268859863
Avg:  0.017
array size: 3750
Run number 0  1.1239292621612549
Run number 1  1.1252493858337402
Run number 2  1.0862557888031006
Run number 3  1.1481547355651855
Run number 4  1.0821173191070557
Run number 5  1.3181171417236328
Run number 6  1.2767305374145508
Run number 7  1.1108760833740234
Run number 8  1.1043081283569336
Run number 9  1.095414400100708
Total time:  11.471152782440186
Avg:  0.031
array size: 5000
Run number 0  2.4935081005096436
Run number 1  2.037057638168335
Run number 2  2.2299630641937256
Run number 3  2.33551025390625
Run number 4  2.5132362842559814
Run number 5  1.983412742614746
Run number 6  2.0264182090759277
Run number 7  2.520535707473755
Run number 8  2.1239869594573975
Run number 9  2.3273277282714844
Total time:  22.590956687927246
Avg:  0.051
array size: 6250
Run number 0  3.4826154708862305
Run number 1  3.440355062484741
Run number 2  4.879988431930542
Run number 3  4.4372289180755615
Run number 4  4.528406858444214
Run number 5  3.5908119678497314
Run number 6  3.5668997764587402
Run number 7  3.3244166374206543
Run number 8  3.8964648246765137
Run number 9  2.9900622367858887
Total time:  38.13725018501282
Avg:  0.061
array size: 7500
Run number 0  4.587734699249268
Run number 1  4.770271301269531
Run number 2  7.370363473892212
Run number 3  4.678238391876221
Run number 4  5.002845525741577
Run number 5  4.902253866195679
Run number 6  4.571166038513184
Run number 7  6.130711078643799
Run number 8  6.780062675476074
Run number 9  5.438086271286011
Total time:  54.231733322143555
Avg:  0.088
array size: 8750
Run number 0  8.54173755645752
Run number 1  7.828886270523071
Run number 2  6.320237636566162
Run number 3  6.056207656860352
Run number 4  6.456936597824097
Run number 5  7.529202699661255
Run number 6  7.251019239425659
Run number 7  6.468793153762817
Run number 8  7.012209415435791
Run number 9  7.49946665763855
Total time:  70.96469688415527
Avg:  0.072
array size: 10000
Run number 0  9.809711456298828
Run number 1  10.612840414047241
Run number 2  11.92382001876831
Run number 3  11.610561847686768
Run number 4  10.662462949752808
Run number 5  10.247724533081055
Run number 6  9.396169185638428
Run number 7  10.075137853622437
Run number 8  8.485600471496582
Run number 9  8.895755290985107
Total time:  101.71978402137756
Avg:  0.102

,n=100,n=250,n=500,n=750,n=1000,n=1250,n=2500,n=3750,n=5000,n=6250,n=7500,n=8750,n=10000
bubble,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
merge,0.001,0.002,0.01,0.012,0.007,0.01,0.017,0.031,0.051,0.061,0.088,0.072,0.102
counting,0,0,0,0.001,0.001,0.001,0.002,0.002,0.003,0.003,0.007,0.008,0.008
insertion,0.001,0.007,0.033,0.048,0.091,0.243,0.581,1.147,2.259,3.814,5.423,7.096,10.172
shell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Adapted from https://runestone.academy/runestone/books/published/pythonds/SortSearch/TheShellSort.html
def shellSort(alist):
    sublistcount = len(alist)//2
    while sublistcount > 0:

      for startposition in range(sublistcount):
        gapInsertionSort(alist,startposition,sublistcount)

      print("After increments of size",sublistcount,
                                   "The list is",alist)

      sublistcount = sublistcount // 2

def gapInsertionSort(alist,start,gap):
    for i in range(start+gap,len(alist),gap):

        currentvalue = alist[i]
        position = i

        while position>=gap and alist[position-gap]>currentvalue:
            alist[position]=alist[position-gap]
            position = position-gap

        alist[position]=currentvalue

alist = random_array(100)
shellSort(alist)
print(alist)

After increments of size 50 The list is [47, 17, 2, 30, 19, 46, 37, 7, 0, 6, 9, 57, 93, 16, 0, 56, 24, 17, 22, 60, 21, 56, 27, 61, 31, 30, 20, 82, 28, 86, 31, 16, 2, 4, 72, 20, 12, 63, 15, 43, 23, 52, 39, 42, 61, 65, 59, 4, 56, 28, 57, 30, 32, 84, 21, 99, 78, 94, 61, 31, 36, 64, 94, 65, 53, 68, 35, 24, 73, 61, 78, 72, 43, 87, 43, 70, 98, 84, 50, 88, 31, 34, 15, 8, 92, 98, 28, 81, 34, 62, 45, 70, 65, 72, 69, 88, 97, 51, 60, 40]
After increments of size 25 The list is [30, 17, 2, 28, 19, 31, 16, 2, 0, 6, 9, 12, 63, 15, 0, 23, 24, 17, 22, 60, 21, 56, 4, 56, 28, 47, 20, 32, 30, 21, 31, 34, 7, 4, 31, 20, 28, 81, 16, 43, 45, 35, 24, 42, 61, 65, 59, 27, 60, 31, 57, 30, 82, 50, 86, 46, 37, 15, 8, 72, 36, 57, 93, 34, 53, 56, 52, 39, 72, 61, 78, 72, 43, 61, 40, 70, 98, 84, 84, 88, 99, 78, 94, 61, 92, 98, 64, 94, 65, 62, 68, 70, 65, 73, 69, 88, 97, 51, 87, 43]
After increments of size 12 The list is [28, 15, 0, 23, 19, 17, 16, 2, 0, 4, 4, 12, 28, 17, 2, 28, 24, 21, 22, 34, 7, 6, 8, 20, 30, 31, 16, 30, 30, 31, 24, 39, 21, 15, 9, 27, 36, 47, 20, 32, 45, 35, 31, 42, 37, 56, 31, 56, 43, 51, 40, 34, 53, 50, 52, 46, 61, 61, 59, 61, 60, 57, 57, 43, 65, 56, 68, 60, 65, 65, 69, 72, 63, 61, 64, 43, 82, 62, 84, 70, 72, 73, 78, 72, 92, 81, 87, 70, 98, 84, 86, 88, 99, 78, 94, 88, 97, 98, 93, 94]
After increments of size 6 The list is [16, 2, 0, 4, 4, 12, 22, 15, 0, 6, 8, 17, 24, 17, 2, 15, 9, 20, 28, 31, 7, 23, 19, 21, 28, 34, 16, 28, 24, 27, 30, 39, 20, 30, 30, 31, 31, 42, 21, 32, 31, 35, 36, 46, 37, 34, 45, 50, 43, 47, 40, 43, 53, 56, 52, 51, 57, 43, 59, 56, 60, 57, 61, 56, 65, 61, 63, 60, 64, 61, 69, 62, 68, 61, 65, 65, 78, 72, 84, 70, 72, 70, 82, 72, 86, 81, 87, 73, 94, 84, 92, 88, 93, 78, 98, 88, 97, 98, 99, 94]
After increments of size 3 The list is [4, 2, 0, 6, 4, 0, 15, 8, 2, 16, 9, 7, 22, 15, 12, 23, 17, 16, 24, 19, 17, 28, 24, 20, 28, 30, 20, 28, 31, 21, 30, 31, 21, 30, 34, 27, 31, 39, 31, 32, 42, 35, 34, 45, 37, 36, 46, 40, 43, 47, 50, 43, 51, 56, 43, 53, 56, 52, 57, 57, 56, 59, 61, 60, 60, 61, 61, 61, 62, 63, 65, 64, 65, 69, 65, 68, 70, 72, 70, 78, 72, 73, 81, 72, 78, 82, 84, 84, 88, 87, 86, 94, 88, 92, 98, 93, 94, 98, 99, 97]
After increments of size 1 The list is [0, 0, 2, 2, 4, 4, 6, 7, 8, 9, 12, 15, 15, 16, 16, 17, 17, 19, 20, 20, 21, 21, 22, 23, 24, 24, 27, 28, 28, 28, 30, 30, 30, 31, 31, 31, 31, 32, 34, 34, 35, 36, 37, 39, 40, 42, 43, 43, 43, 45, 46, 47, 50, 51, 52, 53, 56, 56, 56, 57, 57, 59, 60, 60, 61, 61, 61, 61, 62, 63, 64, 65, 65, 65, 68, 69, 70, 70, 72, 72, 72, 73, 78, 78, 81, 82, 84, 84, 86, 87, 88, 88, 92, 93, 94, 94, 97, 98, 98, 99]
[0, 0, 2, 2, 4, 4, 6, 7, 8, 9, 12, 15, 15, 16, 16, 17, 17, 19, 20, 20, 21, 21, 22, 23, 24, 24, 27, 28, 28, 28, 30, 30, 30, 31, 31, 31, 31, 32, 34, 34, 35, 36, 37, 39, 40, 42, 43, 43, 43, 45, 46, 47, 50, 51, 52, 53, 56, 56, 56, 57, 57, 59, 60, 60, 61, 61, 61, 61, 62, 63, 64, 65, 65, 65, 68, 69, 70, 70, 72, 72, 72, 73, 78, 78, 81, 82, 84, 84, 86, 87, 88, 88, 92, 93, 94, 94, 97, 98, 98, 99]